{% extends "tib/layout.html" %}
{% block title %}{{_('Digital Tabula Imperii Byzantini')}}{% endblock %}
{% block content %}
<div class="container-fluid top5">
  <img src="{{ url_for('static', filename='images/logo/digtib.png') }}"
       class="mx-auto d-block img-fluid">
  <div class="text-center top3">
    {{ header(_('Digital Tabula Imperii Byzantini'), False) }}
  </div>
</div>
<div class="container pt-3">
  <p class="lead text-center py-2 px-2">
    {{ _(' The initiatives in the field of Digital Humanities at the Austrian Academy of Sciences and also the related developments in Byzantine Studies in the last couple of years have encouraged the TIB to step up its efforts to provide a platform for the adequate presentation and sustainable usage of its data, which was and is published in respective TIB volumes.')}}
  </p>
  <div class="row top7">
    {% for item in bar %}
    <div class="col-3 text-center">
      <a href="{{ item.link }}" class="text-decoration-none"
         data-bs-toggle="tooltip" title="{{ item.tooltip }}">
        <p class="lead">
          <i class="bi {{ item.icon }} display-4"></i>
        </p>
        <h4>
          {{ item.title }}
        </h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container top7">
  <p>
    {{_('As a Long-Term Project of the Austrian Academy of Sciences the TIB is pursuing <b>three main lines of development</b>')}}:
  </p>
  <p>
    1) {{_('The <b>first line of development</b> comprises the ongoing scholarly work and resulting printed publications, i.e. the TIB volumes with their maps on a scale of 1 : 800,000, following the Long-Term Project scheme of the Austrian Academy of Sciences until 2027. Cf. on the <a href="current_status">current status</a> of the TIB volumes in detail.')}}</p>
  <p>
    2) {{_('The <b>second line of development</b> is constituted by the scholarly, archival and digital (re)processing of published and unpublished data of the TIB, which has been collected from 1966 until 2016. The year 2016 is to be discerned as a marker, because the TIB is since then following a Long-Term Project scheme implemented at the Austrian Academy of Sciences. Our published and unpublished data comprises three main collections: the slides, which were made during TIB surveys from 1966 until 2007/08 (about 52,000); thousands of black-and-white photographs from the 1960s and 1970s from different areas of research; the published TIB volumes 1-13 and 15.')}}
  </p>
  <p>
    {{_('Since 2016 we are pursuing the aim to apply "regressive engineering" to these data sets through third-party funded projects. In this way we are, and we will be able to digitise and process them, to save them sustainably within the technical framework of the Austrian Academy of Sciences, to present them to the scholarly community and interested public and to preserve them for future generations.')}}
  </p>
  <p>
    {{_('You may access the lists of the geographic registers of each published TIB volume (1-13 and 15) and a complete list via <a href="tib-register">TIB register</a>.')}}
  </p>
  <p>
    {{_('They allow you to search and compare the toponomastic evidence from all areas of research of the TIB since 1966. In all lists you may access the pdf files of the respective TIB volume by clicking on the page number, which is tagged to respective page in the pdf of the volume. Due to copyright regulations of the Austrian Academy of Sciences these functions are available for the TIB volumes 1-7, 12 and 13.')}}
  </p>
  <p>
    {{_('Finally, a "best practice" has been created for the slides of the TIB. For the time being, 7,172 slides of the TIB volumes 5 ("Cilicia and Isauria", Friedrich Hild; 4,981 slides), 12 ("Eastern Thrace (Eurōpē)", Andreas Külzer; 1,252 slides) and 16 ("Macedonia, Northern Part", Mihailo St. Popović; 939 slides) have been scanned and embedded with the respective metadata in the open-source software CollectiveAccess. You may access this data via')}}: <a href="https://catalogue.tib.oeaw.ac.at/">https://catalogue.tib.oeaw.ac.at/</a>
  </p>
  <p>
    {{_('For the time being, you may search and compare these slides and view their metadata, but not download them for scholarly or private use due to copyright regulations of the Austrian Academy of Sciences.')}}
  </p>

  <div>
    {{ img_modal({'path': 'images/lake-skadar.jpg',
    'description': _('Lake Skadar in Montenegro as Viewed from the Island of Beška, Republic of Montenegro, 2022 (Bernhard Koschiček-Krombholz)')}, 1) }}
  </div>

  <p>
    3) {{_('The third line of development is state of the art Geocommunication of current TIB content and results. Therefore, the TIB Balkans (Mihailo St. Popović) is creating, developing and upkeeping the online atlas "Maps of Power: Historical Atlas of Places, Borderzones and Migration Dynamics in Byzantium" since 2019')}}
  </p>

  <p>
    {{_('All three main lines of development are intertwined and form a holistic approach.')}}
  </p>
  <p>
    {{_('If you would like to read more about all three lines of development, please cf. the following two articles')}}:
  </p>
  <ul>
    <li>
      <a
        href="{{ url_for('static', filename='repository/publications/MPopovicLangzeitprojektTIB.pdf') }}">Mihailo
        St. Popović, Das Langzeitprojekt TIB im 21. Jahrhundert:
        Bestandsaufnahme, Adaptierung und Methodenerweiterung in der
        Historischen
        Geographie des byzantinischen Raumes, in: Raum und Geschichte: der
        historische Atlas „Tabula Imperii Byzantini“ an der Österreichischen
        Akademie der Wissenschaften (Studies in Historical Geography and
        Cultural
        Heritage 3). Vienna–Novi Sad 2020, 157-180, 231-238.</a>
    </li>
    <li>
      <a
        href="{{ url_for('static', filename='repository/publications/MPopovicARaceAgainstTime.pdf') }}">Mihailo
        St. Popović, A Race Against Time: The Impact of Contemporary
        Environmental and Demographic Changes on the Research of the Historical
        Geography of Byzantium, in: 24th International Congress of Byzantine
        Studies, Volume 1. Proceedings of the Plenary Sessions. Venice 2022,
        191-210.</a>
    </li>
  </ul>
  <p>
    {{_('Contact')}}: <a href="mailto:mihailo.popovic@oeaw.ac.at">Mihailo.Popovic[a]oeaw.ac.at</a>
  </p>

</div>


<script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
      })
</script>
{% endblock %}
