{% extends "layout.html" %}
{% block title %}Digitales{% endblock %}
{% block content %}
  <section class="py-5">
    <div class="container top5">
      <div class="col-md-12 text-center">
        <h1 class="display-1">Die digitale Ära</h1>
        <p>Unsere oben genannten Teilprojekte haben die TIB Balkan mit ihren
          neuen
          Methoden und Kapazitäten in die digitale Ära gebracht. Wir schreiben
          also nicht nur an TIB Bänden zur Balkanhalbinsel, sondern wir leisten
          auch einen wertvollen und nachhaltigen Beitrag zu den Digitalen
          Geisteswissenschaften in der Byzantinistik und Historischen
          Geographie.
          Aus diesem Grund haben wir ein Gesamtverzeichnis der Ortsnamen
          (Toponyme) aus <a
                  href="https://tib.oeaw.ac.at/index.php?seite=digtib"
                  target="_blank">allen TIB Bänden</a> mit Verlinkungen auf die
          Seite der jeweiligen TIB Bände und ihre pdf Dateien (soweit aufgrund
          des
          Copyrights erlaubt) online gestellt. Einen Teil unserer reichen
          <a href="https://catalogue.tib.oeaw.ac.at/"
             target="_blank">Diabestände</a>
          haben wir beschrieben und als Scans
          online zugänglich gemacht. Schließlich haben wir ein Datenbanksystem
          für
          die TIB Balkan aufgebaut (eine
          <a href="https://openatlas.eu/" target="_blank">
            OpenAtlas</a> Datenbank, in die alle Resultate der
          Teilprojekte TIB Balkan sowie ausgewählte Aspekte aus den TIB Bänden
          16
          und 17 laufend einfließen und jederzeit aktuell über ein Web
          Applikation
          abgerufen werden können. Diese Web Applikation nennen wir „Maps of
          Power: Historical Atlas of Places, Borderzones and Migration Dynamics
          in
          Byzantium (TIB Balkans)“. </p>
      </div>


      <section id="section_3dobjects">
        <div class="col-md-12 top5">
          {% with objects3d=objects3d %}
            {% include "digital/3dobjects.html" %}
          {% endwith %}
        </div>
      </section>

      <section id="section_discover">
        <div class="col-md-12 top5">
          {% with subprojects_dict=subprojects_dict, view_classes=view_classes%}
            {% include "digital/discover.html" %}
          {% endwith %}
        </div>
      </section>
    </div>
  </section>


{% endblock %}
