{% extends "layout.html" %}
{% block title %}TIB OpenAtlas Access{% endblock %}
{% block content %}
  <section>
    <div class="container top7">
      <div class="col-md-12 ">
        <table class="table table-striped hover order-column"
               style="width:100%">


          <tr>
            <th class="table-active"> ID</th>
            <td> {{ entity.id_ }}</td>
          </tr>
          <tr>
            <th class="table-active"> Name</th>
            <td> {{ entity.name }}</td>
          </tr>
          <tr>
            <th class="table-active"> System class</th>
            <td> {{ entity.system_class }}</td>
          </tr>
          <tr>
            <th class="table-active"> Description</th>
            <td> {{ entity.description }}</td>
          </tr>

        </table>
      </div>
    </div>
  </section>

{% endblock %}


