{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="row pt-5">

    <div class="col-xxl-4 px-5 py-5">
      <div class="hover_effect">
        <img src="{{ url_for('static', filename=tib_volume['icon']) }}"
             class="img-fluid" alt="Icon">
        <div class="overlay">
            <h1 class="display-1 text-white"></h1>
            <p>{{ tib_volume['title'] }}</p>
            <div class="pt-5">
            </div>

        </div>
      </div>
    </div>



</div>

{% endblock %}
