{% extends "balkan/layout.html" %}
{% block title %}Die TIB Balkan{% endblock %}
{% block content %}
  <div class="container top7 text-center">
    <div class="text-center">
      {{ header_balkan('Die Tabula Imperii Byzantini - Balkan') }}
    </div>
    <div class="row justify-content-center align-items-center pt-5">
      <div class="col-6 text-end " >
        <p>
          Seit 1976 erscheinen TIB Bände zu den byzantinischen Provinzen und
          Regionen auf dem Balkan in regelmäßiger Abfolge. 1976 wurde der Band
          über
          „Hellas und Thessalien“ veröffentlicht, 1981 über „Nikopolis und
          Kephallēnia“, 1991 über „Thrakien (Thrakē, Rodopē und Haimimontos)“,
          1998
          über „Aigaion Pelagos (Die nördliche Ägäis)“ und 2008 über
          „Ostthrakien
          (Eurōpē)“. Das Ziel im Bereich der TIB Balkan bestand und besteht mit
          dem
          Einrichten des Projektes darin, die Donaugrenze als nördliche Grenze
          des
          Byzantinischen Reiches durch die wissenschaftliche Aufarbeitung der
          entsprechenden Regionen zu erreichen.
        </p>
      </div>
      <div class="col-4">
        <img src="{{ url_for('static', filename='images/gallery/tib_balkan_overview.jpg') }}"
             class="img-fluid d-flex mx-auto" alt="tib balkan overview">
      </div>
    </div>

    <p class="pt-5">
      Derzeit ist ein Band in Druck, ein weiterer Band ist in der Phase der
      Fertigstellung und ein dritter in Vorbereitung.
    </p>
  </div>
  <div class="container-fluid">
    {% with tib_volumen=tib_volumen %}
      {% include 'balkan/tib_volumen/list_volumes.html' %}
    {% endwith %}
  </div>
  <div class="container text-center justify-content-center">
    <p>
      Der jeweilige Autor des TIB Bandes verschmilzt im Laufe seiner Arbeit
      mit der Region, in der er arbeitet. Er bereist sein Bearbeitungsgebiet in
      regelmäßigen Abständen und wird eins mit der Landschaft, die seine
      Forschung am Schreibtisch und am Computer bereichert und ihr eine
      ungeahnte Tiefe gibt. Diese Tiefe kann durch ausschließlich theoretische
      Überlegungen und die Nutzung digitaler Satellitenaufnahmen nicht erreicht
      werden. Nur vor Ort lassen sich Zusammenhänge erkennen und beschreiben.
      Zahllos sind die Beispiele atemberaubender Naturräume, in denen Menschen
      seit Jahrhunderten lebten und leben. Somit leistet die TIB einen
      unschätzbaren Beitrag zur Dokumentation der Vergangenheit und Gegenwart,
      die den zukünftigen Generationen erhalten bleiben soll.
    </p>
    <video loop autoplay muted class="img-fluid pt-5">
      <source src="{{ url_for('static', filename='/video/vegoritis_petron_august_2014.mp4') }}"
              type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="fw-light">Die Seen Vegoritis und Petron, Griechenland, 2014 (M.
      St. Popović)</p>
  </div>


{% endblock %}
