{% extends "balkan/layout.html" %}
{% block title %}{{_('TIB Balkans')}}{% endblock %}
{% block content %}
  <div class="container top7 text-center">
    <div class="text-center">
      {{ header_balkan(_('The Tabula Imperii Byzantini - Balkans')) }}
    </div>
    <div class="row justify-content-center align-items-center pt-5">
      <div class="col-6 text-end " >
        <p>
          {{_(' Since 1976 TIB volumes on the Byzantine provinces and regions in the Balkans have been published in regular succession. In 1976 the volume on "Hellas and Thessaly" was published, in 1981 on "Nicopolis and Kephallēnia", in 1991 on "Thrace (Thrakē, Rodopē and Haimimontos)", in 1998 on "Aigaion Pelagos (The Northern Aegean)" and in 2008 on "Eastern Thrace (Eurōpē)". The aim in the field of TIB Balkans was and is, with the establishment of the project, to reach the Danube border as the northern border of the Byzantine Empire through the scientific processing of the corresponding regions.')}}
          </p>
      </div>
      <div class="col-4">
        <img src="{{ url_for('static', filename='images/gallery/tib_balkan_overview.jpg') }}"
             class="img-fluid d-flex mx-auto" alt="tib balkan overview">
      </div>
    </div>
    <p class="pt-5">
      {{_('Currently, one volume is in print, another is in the process of completion, and a third is in preparation.')}}
    </p>
  </div>
  <div class="container-fluid">
    {% with tib_volumes=tib_volumes %}
      {% include 'balkan/tib_volumes/list_volumes.html' %}
    {% endwith %}
  </div>
  <div class="container text-center justify-content-center">
    <p>
      {{_('In the course of his work, the respective author of the TIB volume merges with the region in which he works. He travels his processing area at regular intervals and becomes one with the landscape, which enriches his research at the desk and at the computer and gives it an undreamed-of depth. This depth cannot be achieved by exclusively theoretical considerations and the use of digital satellite images. Only on site can connections be recognized and described. Countless are the examples of breathtaking natural spaces in which people have lived and continue to live for centuries. Thus, the TIB makes an invaluable contribution to the documentation of the past and present, which should be preserved for future generations.')}}
     </p>
    <video loop autoplay muted class="img-fluid pt-5">
      <source src="{{ url_for('static', filename='/video/vegoritis_petron_august_2014.mp4') }}"
              type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="fw-light">{{_('Lakes Vegoritis and Petron, Greece, 2014 (M. St. Popović')}}</p>
  </div>
{% endblock %}
