{% extends "balkan/layout.html" %}
{% block title %}Die TIB Balkan{% endblock %}
{% block content %}
  <div class="container top7 text-center">
    <div class="text-center">
      {{ header('Die Tabula Imperii Byzantini - Balkan', True) }}
    </div>
    <p>
      Seit 1976 erscheinen TIB Bände zu den byzantinischen Provinzen und
      Regionen auf dem Balkan in regelmäßiger Abfolge. 1976 wurde der Band über
      „Hellas und Thessalien“ veröffentlicht, 1981 über „Nikopolis und
      Kephallēnia“, 1991 über „Thrakien (Thrakē, Rodopē und Haimimontos)“, 1998
      über „Aigaion Pelagos (Die nördliche Ägäis)“ und 2008 über „Ostthrakien
      (Eurōpē)“. Das Ziel im Bereich der TIB Balkan bestand und besteht mit dem
      Einrichten des Projektes darin, die Donaugrenze als nördliche Grenze des
      Byzantinischen Reiches durch die wissenschaftliche Aufarbeitung der
      entsprechenden Regionen zu erreichen.
    </p>
    <p>
      Derzeit ist ein Band in Druck, ein weiterer Band ist in der Phase der
      Fertigstellung und ein dritter in Vorbereitung.
    </p>

  </div>
{% endblock %}
