  <footer class="text-white text-center text-lg-start bg-violet">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
         <h5 class="text-uppercase mb-4 text-light">
           {{ _('contact') }}
         </h5>
          <p class="text-light">
            {{ _('Austrian Academy of Sciences') }} <br>
            {{ _('Institute for Medieval Research') }} <br>
            {{ _('Division of Byzantine Research') }} <br>
            Hollandstraße 11-13 <br>
            1020 {{ _('Vienna') }}, {{ _('Austria') }}, {{ _('Europe') }} <br>
            +43 1 51581 3444 <br>
            tib[at]oeaw.ac.at <br>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        </div>
      </div>
    </div>
    <div class="text-center p-3">
      <a href="{{ url_for('tib_imprint') }}" class="text-white">{{ _('imprint') }}</a>
    </div>
  </footer>
