{% extends "layout.html" %}
{% block title %}Orthodoxes Europa{% endblock %}
{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="row vh-100 justify-content-center ml-5 mr-5 ">
                {% for name, item in front_menu.items() %}
                    <div class="col-lg-3 align-self-center text-center m-3 fade-in-images">
                        <div class="text-center pt-5">
                            <h2 class="">{{ item.title }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid top10">
        <div class="row ">
            <h1 class="display-1">Vergangene Landschaften begreifbar machen …</h1>
        </div>
        <div class="row top7">
            <div class="col-4 offset-1">

            </div>
            <div class="col-6 ">
                <p>
                    Im 21. Jahrhundert sind wir Zeugen eines rasanten technischen Fortschritts und
                    einer dynamischen
                    Veränderung unserer Lebenswelten. Die Rückbesinnung der Menschheit auf die
                    Umwelt und das
                    Bewußtsein der Menschen über globale klimatische Veränderungen regen die Frage
                    an, wie unsere
                    Vorfahren im Mittelalter gelebt haben und wie sie ihre Umwelt gestaltet und
                    wahrgenommen haben.
                </p>
            </div>
        </div>

        <div class="row top17">
            <div class="row justify-content-center">
                <div class="col-4">
                    <p>Wie waren damalige Landschaften beschaffen?</p>
                </div>
                <div class="col-4 offset-1">
                    <p>Welche Siedlungen gab es? Wie sahen diese aus?</p>
                </div>
            </div>
            <div class="row justify-content-around top5">
                <div class="col-4">
                    <p>Wurden sie in schriftlichen Quellen (z. B. Urkunden) dokumentiert?</p>
                </div>
                <div class="col-2 justify-content-center">
                    <div class="circle">Fragen der historischen Geographie</div>
                </div>
                <div class="col-4">
                    <p>Welche Rolle spielten Flüsse, Seen und Gebirge in der Raumwahrnehmung des
                        Mittelalters?</p>
                </div>
            </div>
            <div class="row justify-content-center top5">
                <div class="col-4">
                    <p> Warum wurden Kirchen, Klöster und Burgen an bestimmten Orten errichtet?</p>
                </div>
                <div class="col-4 offset-1">
                    <p>Wohin führten Straßen und wie waren sie beschaffen?</p>
                </div>
            </div>
        </div>
        <div class="row top10 justify-content-center">
            <div class="col-10">
                <p>
                    Unser Langzeitprojekt Tabula Imperii Bzyantini (TIB) an der Österreichischen
                    Akademie der
                    Wissenschaften in Wien erforscht die vergangenen Landschaften des Byzantinischen
                    („Oströmischen“) Reiches. Wir befassen uns mit den zwei großen Kerngebieten
                    Kleinasien und
                    Balkan.
                </p>
            </div>
        </div>
        <div class="row align-content-center">
            <div class="col-8  offset-2 text-center">
                <img src="{{ url_for('static', filename='/images/core-studies.jpg') }}" style="height: 300px">
            </div>
        </div>
        <div class="row top10 align-content-center">
            <h2 class="display-2 text-center">Forschungsarbeit</h2>
            <div class="col-3">
                <h3>Quellen</h3>
            </div>
            <div class="col-3">
<h3>Flurnamen</h3>
            </div>
            <div class="col-3">
<h3></h3>
            </div>
        </div>
    </div>


     Wir lesen die schriftlichen Quellen der Zeit
    des 4. bis 15. Jahrhunderts, die in verschiedenen Sprachen verfaßt sind (z. B. griechisch,
    lateinisch, altslawisch, etc.), und filtern alle Informationen zu den oben genannten Fragen
    heraus.
    Wir sammeln Daten zu Flurnamen aus den Quellen, neuzeitlichen Karten und Lexika.
    Wir
    verschaffen uns einen Überblick über archäologische Grabungen und bestehende Denkmäler (Kirchen,
    Klöster, Burgen, etc.) vor Ort.
    Und wir reisen in die jeweiligen Gebiete, um vor Ort im Gelände
    Daten zu sammeln und zu dokumentieren, die wir vorher gelesen und zusammengefaßt haben.Dazu
    sind wir auf die Hilfe der einheimischen Bevölkerung angewiesen. Wir sprechen mit den Menschen
    in ihrer Sprache – sei es auf Griechisch, Serbisch, Bulgarisch, Mazedonisch, Türkisch, etc. –
    und blicken mit ihnen auf ihre lokale Vergangenheit zurück. Es kommt zu wunderschönen
    Begegnungen über alle Grenzen hinweg.
    Aus all den gewonnenen Daten schreiben wir zu jeder historischen Region des Byzantinischen
    Reiches einen Band der Tabula Imperii Byzantini und tragen unsere Erkenntnisse auch in einer
    beigelegten, gedruckten Karte ein. Auf diese Weise werden längst vergangene Landschaften für
    jeden/jede begreifbar …

{% endblock content %}
