{% extends "layout.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h3 class="text-center">Impressum</h3>

        <h5 class="text-center">Digitales Geoportal der Geschichte der Orthodoxen in Österreich</h5>
    </div>
    <p>
    <h6>Vertreten durch:</h6>
    <p>
        Priv.-Doz. Mag. Dr. Mihailo Popović, <i>Projektleiter</i><br>
        Kiningergasse 12/2/7<br>
        1120 Wien<br>
        Österreich<br>
    <h6>Kontakt:</h6>
    </p>
    <a href="mailto:mihailop@hotmail.com">mihailop@hotmail.com</a>
    </p>
    <div class="astrodivider">
        <div class="astrodividermask"></div>
        <span><i>&#10009;</i></span></div>

    <p><h6>Haftungsausschluss</h6>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Qualität,
    Korrektheit, Vollständigkeit und Aktualität der Inhalte sowie der verlinkten Seiten können
    wir jedoch keinerlei Gewähr übernehmen. Wir behalten uns ausdrücklich vor, Teile der Seiten
    oder den gesamten Inhalt ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen
    oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>
    <p>
    <h6>Urheber-/Kennzeichnungsrecht</h6>
    Das Copyright für veröffentlichte, von dem Digitalen Geoportal der Geschichte der Orthodoxen in
    Österreich selbst erstellte Objekte bleibt allein bei dem Autor der Seiten. Eine
    Vervielfältigung oder Verwendung von Grafiken und Texte in anderen elektronischen oder
    gedruckten Publikationen ist ohne ausdrückliche Zustimmung nicht gestattet.
    Das Copyright für sämtliche Bestandteile der Website, also Website-Design, Text, Grafiken,
    Layout, Software und Code liegt bei
    dem Digitalen Geoportal der Geschichte der Orthodoxen in Österreich.
    </p>
    <p><h6>Datenschutz</h6>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
    Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
    E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
    Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
    E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch
    Dritte ist nicht möglich.
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
    Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird
    hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich
    rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
    Spam-Mails, vor.
    </p>
{% endblock %}
