{% macro image_description(title) %}
  <div class="row justify-content-end">
    <div class="col-12 align-self-end">
      <p>
        <small class="image-description float-end bg-dark px-1">
          {{ title }}
        </small>
      </p>
    </div>
  </div>
{% endmacro %}


{% macro counting_icons(key, value) %}
  <div class='col-3 top3 text-center align-content-center'>
    <i class="bi {{ value['icon'] }}" style="font-size: 1.5rem;"></i>
    <br>
    <span class="{{ key }} counter-style"
          data-from="0" data-to="{{ value['count'] }}"
          data-time="3000">

          </span>
    <br>
    <span class="counter-font">{{ value['description'] }}</span>

  </div>
{% endmacro %}


{% macro box_description(title) %}
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <p>
        <small class="image-description">
          {{ title }}
        </small>
      </p>
    </div>
  </div>
{% endmacro %}


{% macro read_more(target) %}
  <p>
    <button type="button" data-bs-toggle="collapse"
            href="#{{ target }}" role="button" data-read-more="True"
            aria-expanded="false" aria-controls="collapseExample"
            class="text-decoration-none btn-violet-light rounded-pill px-5 py-1">
      Read more...
    </button>
  </p>
{% endmacro %}


{% macro header(title, bold) %}
  <h1 class="{% if bold %}fw-bold{% endif %}">{{ title }}</h1>
{% endmacro %}


{% macro img_modal(img_dict, index) %}
  <!-- Modal Button -->
  <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ index }}"
     class="text-decoration-none">
    <img class="img-fluid d-flex z-depth-1"#}
         src="{{ url_for('static', filename=img_dict['path']) }}"
         alt="{{ img_dict['description'] }}">
    <p class="small text-center">{{ img_dict['description'] }}</p>
  </a>

  <!-- Modal -->
  <div class="modal fade" id="modal-{{ index }}" tabindex="-1"
       aria-labelledby="modalLabelmodal-{{ index }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body mb-0 p-0">
          <img src="{{ url_for('static', filename=img_dict['path']) }}"
               alt="{{ img_dict['description'] }}"
               class="img-fluid d-flex shadow-lg bg-body">
        </div>
        <div class="modal-footer justify-content-center">
          <div class="row">
            <div class="col-12 text-center">
              <p>{{ img_dict['description'] }}</p>
              {% if img_dict['citation'] %}
                <p>({{ img_dict['citation'] }})</p>
              {% endif %}
            </div>
            <div class="col-12 text-center">
              <p>
                <button type="button"
                        class="btn btn-violet btn-rounded btn-md ml-4"
                        data-bs-dismiss="modal">Close
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

