{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h3 class="text-center">{{ projekt.title }}</h3>
    <h4 class="text-center">{{ projekt.subtitle }}</h4>
    <div class="astrodivider">
        <div class="astrodividermask"></div>
        <span><i>&#10009;</i></span>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <p><b>Projektleitung:</b> {{ projekt.pi }}</p>
            <b>ProjektmitarbeiterInnen:</b> <br>
            <ul>
                {% for member in projekt.members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <p><b>Laufzeit:</b> {{ projekt.duration }}</p>

        </div>
        <div class="col-sm-6">
            <p><b>Trägerin des Projekts:</b><br>
                {{ projekt.institute |display_sponsors|safe }}
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-6">
            <p><b>Gefördert von:</b><br>
                {{ projekt.sponsor |display_sponsors|safe }}
            </p>
        </div>
        <div class="col-sm-6">
            <p><b>In Zusammenarbeit mit:</b><br>
                {{ projekt.partners |display_sponsors|safe }}
            </p>

        </div>
    </div>
    <div class="astrodivider">
        <div class="astrodividermask"></div>
        <span><i>&#10009;</i></span>
    </div>
    <div class="row">
        <div class="col-lg-8 text-justify">
            <p><b>Beschreibung:</b></p>
            {{ projekt.description|safe }}
        </div>
        <div class="col-lg-2">
            <p><b>Galerie:</b></p>
            {% for img in projekt.gallery %}
                <div class="col-sm-4" id="gallery" data-toggle="modal" data-target="#exampleModal">
                    <div class=" center-cropped"
                         style="background-image: url({{ url_for('static', filename='images/projekte/'+ img) }})">
                        <img id='{{ loop.index }}'
                             src='{{ url_for('static', filename='images/projekte/'+ img) }}'
                             data-target="#carouselExample" data-slide-to="{{ loop.index0 }}">

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <div id="carouselExample" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in projekt.gallery %}
                                {% if loop.first %}
                                    <div class="carousel-item active mh-100">
                                        <img class="d-block  mh-100 active"
                                             src="{{ url_for('static', filename='images/projekte/'+ img) }}">
                                        <div class="text-center">{{ gallerie[img]|safe }}</div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item mh-100">
                                        <img class="d-block mh-100 active"
                                             src="{{ url_for('static', filename='images/projekte/'+ img) }}">
                                        <div class="text-center">{{ gallerie[img]|safe }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
