{% extends "layout.html" %}
{% block title %}Verein{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h3 class="text-center">Verein</h3>
    </div>
    <p>
        Um die Forschung zu den orthodoxen ChristInnen, deren Religion, Geschichte und Kultur in
        Österreich und die Weiterentwicklung des digitalen Geoportals der Geschichte der Orthodoxen
        in Österreich auch in Zukunft systematisch und nachhaltig zu betreiben, wird im Herbst 2020
        – flankierend zu den bestehenden Aktivitäten – ein entsprechender Verein mit den Namen
        „Verein Dr. Stevan Popović (1938-2015) für Studien zu Geistlichkeit und Kultur“ (VStPGK)
        („Друштво др Стеван Поповић (1938-2015) за студије о духовности и култури“) ins Leben
        gerufen werden.
    </p>
    <p>
    Weitere Informationen dazu werden auf dieser Seite folgen.
    </p>

{% endblock %}
