{% extends "balkan/layout.html" %}
{% block title %}{{ entity.name }}{% endblock %}
{% block content %}
  <link rel="stylesheet" href="/static/styles/map.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.markercluster/dist/MarkerCluster.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css">
  <link rel="stylesheet"
        href="/static/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet.fullscreen/Control.FullScreen.css">

  <div class="container top7 p-5">
    <div class="row">
      <div class="col-10">
        {{ entity.geometry }}
        {{ header(entity.name) }}
      </div>
      <div class="col text-end">
        <div class="pt-2 btn-group text-end">
          <a href="{{ config['API_PATH'] }}/entity/{{ entity.id_ }}"
             target="_blank" class="btn btn-outline-violet">
            <i class="bi bi-filetype-json" style="font-size: 1.5em"></i>
          </a>
          <a href="{{ config['API_PATH'] }}entity/{{ entity.id_ }}?format=pretty-xml"
             target="_blank" class="btn btn-outline-violet">
            <i class="bi bi-filetype-xml" style="font-size: 1.5em"></i>
          </a>
          <a href="{{ config['API_PATH'] }}entity/{{ entity.id_ }}?export=csv"
             target="_blank" class="btn btn-outline-violet">
            <i class="bi bi-filetype-csv" style="font-size: 1.5em"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 row">
        <div class="col-12">
          {{ sub_header(entity.alias) }}
          {% if entity.links %}
            {% for system in entity.links %}
              <a href="{{ system.identifier }}"
                 class="btn btn-violet-light px-2 py-1 pill"
                 target="_blank">
                {{ system.referenceSystem }}
              </a>
            {% endfor %}
          {% endif %}

          <div class="pt-3">
            {% if entity.begin %}
              <span class="fw-bold">Begin</span> {{ entity.begin }}
              <br/>
            {% endif %}
            {% if entity.end %}
              <span class="fw-bold">End</span> {{ entity.end }}
            {% endif %}
          </div>


        </div>
        <div class="col-12 pt-3">
          {{ sub_header("Properties") }}
          <table class="table table-striped hover order-column w-100">
            <tr>
              <th class="table-active">ID</th>
              <td>{{ entity.id_ }}</td>
            </tr>
            <tr>
              <th class="table-active">System Class</th>
              <td>
                <button class="btn btn-violet-light px-2 py-1 pill">
                  {{ entity.system_class }}
                </button>
              </td>
            </tr>
            {% if type_hierarchy %}
              {% for key, value in type_hierarchy.items() %}
                <tr>
                  <th class="table-active">{{ key }}</th>
                  <td>
                    {% for type in value %}
                      {{ type_popover(type) }}{% if loop.last %}{% else %}, {% endif %}

                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
      <div class="col-6 pt-5">
        <div id="map"></div>

      </div>
    </div>

    <div class="row pt-5">
      {% if entity.description %}
        <div class="col-md-12 pt-3">
          {{ sub_header("Description") }}
          <div id="description">
            <p class="">
              {{ entity.description
              | replace('\n', '<br>')
              | replace('Hist.:', '<span class="fst-italic">Hist.:</span>')
              | replace('Mon.:', '<span class="fst-italic">Mon.:</span>')
              | safe }}
            </p>
          </div>
        </div>
      {% endif %}

      {% if relations['references'] %}
        <div class="col-md-12 pt-3">
          {{ sub_header('Literature') }}
          {% for reference in relations['references'] %}
            <a tabindex="0" class="text-decoration-none fst-italic" role="button" data-bs-toggle="popover"
               data-bs-trigger="focus"
               title="<a href='{{ url_for('entity_view', id_=reference.relation_to_id) }}'
                        class='text-decoration-none'>{{ reference.label }}</a>"
               data-bs-content="<p class=''>{{ reference.description }}</p>
                                  <a href='{{ url_for('entity_view', id_=reference.relation_to_id) }}'
                                  class='text-decoration-none btn btn-violet-light'>{{ reference.label }}</a>">
              {{ reference.label }}{% if reference.relation_description %} —
                {{ reference.relation_description }}{% endif %}</a>
            {% if loop.last %}{% else %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="col-md-12 pt-5">
        <h3>Relations</h3>
        {% for key, value in relations.items() if key not in ['types', 'references'] %}
          <h5 class="pt-3">
            {{ key | replace('_', ' ') | title }} ({{ value|length }})
            <a class="btn btn-violet p-1" data-bs-toggle="collapse"
               href="#collapse-{{ key }}" role="button" aria-expanded="false"
               aria-controls="collapse-{{ key }}">
              <i class="bi bi-caret-down-fill" onclick="myFunction(this)"></i>
            </a>
          </h5>

          <div class="collapse" id="collapse-{{ key }}">
            <div class="card card-body">
              <table class="table table-striped hover order-column w-100"
                     id="table-{{ key }}">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  {% if key in ['events','actors', 'places'] %}
                    <th>Begin</th>
                    <th>End</th>
                  {% endif %}
                  {% if key in  ['actors'] %}
                    <th>Relation Type</th>
                  {% endif %}
                  <th>Description</th>
                </tr>
                </thead>

                {% for item in value %}
                  <tr>
                    <td>
                      <a href="{{ url_for('entity_view', id_=item.relation_to_id) }}"
                         class="text-decoration-none">
                        {{ item.label }}
                      </a>
                    </td>
                    <td>
                      {{ item.system_class }}
                    </td>
                    {% if key in ['events','actors', 'places'] %}
                      <td>
                        {% if item.begin %}
                          {{ item.begin }}
                        {% endif %}
                      </td>
                      <td>
                        {% if item.end %}
                          {{ item.end }}
                        {% endif %}
                      </td>
                    {% endif %}
                    {% if key in  ['actors'] %}
                      <td>
                        {% if item.type %}
                          {{ item.type }}
                        {% endif %}
                      </td>
                    {% endif %}
                    <td>
                      {{ item.description }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <script>
              $(document).ready(function () {
                  var indexLastColumn = $('#table-{{ key }}').find('tr')[0].cells.length - 1;
                  $('#table-{{ key }}').dataTable({
                      "paging": true,
                      "autoWidth": false,
                      "ordering": true,
                      "info": true,
                      "searching": true,
                      "pageLength": 10,
                      "columnDefs": [
                          {"width": "20%", "targets": 0},
                          {
                              targets: indexLastColumn,
                              render: DataTable.render.ellipsis(300, true)
                          }]
                  });
              });
          </script>
        {% endfor %}
      </div>


      {% if entity.depictions %}
        {{ sub_header("Files") }}
        <div class="row pt-5">
          {% for list in images %}
            {% for img in list %}
              <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <figure>
                  <a href="{{ img.url }}" data-fancybox="gallery"
                     data-caption="{{ img.title }}{% if img.description %} - {{ img.description }}{% endif %}">
                    <img src="{{ img.url + '?image_size=thumbnail' }}"
                         class="img-fluid mx-auto d-block" alt="{{ img.title }}">
                  </a>
                  <figcaption class="small text-center pt-1 text-break">{{ img.title }}</figcaption>
                </figure>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <script>
      Fancybox.bind("[data-fancybox]", {
          // Your custom options
      });
  </script>

  {#  <script>#}
  {#      $(document).ready(function () {#}
  {#          let desc = $('#description');#}
  {#          let str = desc.text();#}
  {##}
  {##}
  {#          if (str.length > 300) {#}
  {##}
  {#              desc.empty().html(str.substring(0, 500));#}
  {##}
  {#              let moreLink = '... <a href="#" class="read_more btn btn-violet-light">Read more</a>';#}
  {#              desc.append(moreLink);#}
  {##}
  {#              $('.read_more').on('click', function (e) {#}
  {#                  e.preventDefault();#}
  {#                  desc.empty().html(str);#}
  {#              });#}
  {##}
  {#          }#}
  {##}
  {#      });#}
  {#  </script>#}
  <script>
      function myFunction(x) {
          x.classList.toggle("bi-caret-up-fill");
      }
  </script>
  <script>
  const gisData = {{ entity.geometry | safe }}
  const entityName = '{{ entity.name | safe }}'
  </script>
  <script src="/static/node_modules/leaflet/dist/leaflet.js"></script>
  <script src="/static/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="/static/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
  <script src="/static/node_modules/leaflet.fullscreen/Control.FullScreen.js"></script>
  <script src="/static/node_modules/leaflet-imageoverlay-rotated/Leaflet.ImageOverlay.Rotated.js"></script>
  <script src="/static/node_modules/@mapbox/leaflet-pip/leaflet-pip.js"></script>
  <script src="/static/js/map/map.js"></script>

{% endblock %}


