{% extends "balkan/layout.html" %}
{% block title %}{{ entity.name }}{% endblock %}
{% block content %}
  <div class="container top7">
    <div class="row">
      <div class="col-10">
        {{ header(entity.name) }}
      </div>
      <div class="col text-end display-6">
        <a href="https://tibopenatlas.orthodoxes-europa.at/api/entity/{{ entity.id_ }}"
           target="_blank">
          <i class="bi bi-filetype-json"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6">

        {{ sub_header(entity.alias) }}
        {% if entity.links %}
          {% for system in entity.links %}

            <a href="{{ system.identifier }}"
               class="btn btn-violet-light px-2 py-1 pill"
               target="_blank">
              {{ system.referenceSystem }}
            </a>
          {% endfor %}
        {% endif %}

        <div class="pt-3">
          <span class="fw-bold">Begin</span> {{ entity.begin }}
          <br/>
          <span class="fw-bold">End</span> {{ entity.end }}
        </div>

      </div>

      <div id="map" class="col-6 pt-5">
      </div>


    </div>

    <div class="row top5">
      <div class="col-md-6 ">
        {{ sub_header("Properties") }}
        <table class="table table-striped hover order-column w-100">
          <tr>
            <th class="table-active">
              ID
            </th>
            <td>
              {{ entity.id_ }}
            </td>
          </tr>
          <tr>
            <th class="table-active">
              System Class
            </th>
            <td>
              <button class="btn btn-violet-light px-2 py-1 pill">
                {{ entity.system_class }}
              </button>
            </td>
          </tr>
          {% for key, value in type_hierarchy.items() %}
            <tr>
              <th class="table-active">{{ key }}</th>
              <td>
                {% for type in value %}
                  <button class="btn btn-violet-light px-2 py-1 pill">
                    {{ type }}
                  </button>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-6">
        {% if entity.depictions %}
          <div class="entity-gallery gallery-row ">
            {% for list in images %}
              <div class="gallery-column">
                {% for img in list %}
                  <a href="{{ img.url }}" data-caption="{{ img.title }}">
                    <img src="{{ img.url + '?image_size=thumbnail' }}"
                         class="img-fluid">
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 pt-3">
      {{ sub_header("Description") }}
      <div id="description">
        <p>
          {{ entity.description }}
        </p>
      </div>
    </div>
    <div class="col-md-12 pt-5">
      <h3>Relations</h3>
      {% for key, value in relations.items() %}
        <h5 class="pt-3">
          {{ key | replace('_', ' ') | title }} ({{ value|length }})
          <a class="btn btn-violet p-1" data-bs-toggle="collapse"
             href="#collapse-{{ key }}" role="button" aria-expanded="false"
             aria-controls="collapse-{{ key }}">
            <i class="bi bi-caret-down-fill" onclick="myFunction(this)"></i>
          </a>
        </h5>
        <div class="collapse" id="collapse-{{ key }}">
          <div class="card card-body">
            <table class="table table-striped hover order-column w-100">
              {% for item in value %}
                <tr>
                  <td>
                    <a href="{{ url_for('entity_view', id_=item.relation_to_id) }}">
                      {{ item.label }}
                    </a>
                  </td>
                  {% if key == 'events' %}
                    <td>
                      {{ item.begin }}
                    </td>
                    <td>
                      {{ item.end }}
                    </td>
                  {% endif %}
                  {% if item.relation_description %}
                    <td>
                      {{ item.relation_description }}
                    </td>
                  {% endif %}
                  {% if key == 'actor' %}
                    <td>
                      {{ item.type }}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js"></script>
  <script>
      window.addEventListener('load', function () {
          baguetteBox.run('.entity-gallery', {});
      });
  </script>

  <script>
      $(document).ready(function () {
          let desc = $('#description');
          let str = desc.text();


          if (str.length > 300) {

              desc.empty().html(str.substring(0, 500));

              let moreLink = '... <a href="#" class="read_more btn btn-violet-light">Read more</a>';
              desc.append(moreLink);

              $('.read_more').on('click', function (e) {
                  e.preventDefault();
                  desc.empty().html(str);
              });

          }

      });
  </script>
  <script>
      function myFunction(x) {
          x.classList.toggle("bi-caret-up-fill");
      }
  </script>
  <script>
      var map = L.map('map').setView([51.505, -0.09], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png",
          {
              maxZoom: 25,
              maxNativeZoom: 20,
              attribution:
                  '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>',
          }).addTo(map);

      {% if entity.geometry['type'] == 'Polygon' %}
          var polygon = L.polygon([[19.261842521, 42.4650217], [19.261735233, 42.466652077], [19.261134418, 42.467696761], [19.262142928, 42.468662288], [19.261928352, 42.469184616], [19.262529166, 42.4696278], [19.264009746, 42.468963023], [19.265769275, 42.4692321], [19.267164024, 42.469327068], [19.268065246, 42.469991841], [19.269760402, 42.470086808], [19.271541389, 42.468345724], [19.269052299, 42.467649276], [19.266670497, 42.466778706], [19.264481815, 42.466003097], [19.262786659, 42.465654861], [19.261842521, 42.4650217]]).addTo(map);
      {% endif %}
  </script>

{% endblock %}


