/* Navbar */
.brand-image {
    height: 50px;
    transition: height 200ms linear;
}

#tib-brand-image {
    display: block;
    margin: 20px auto;
}

@media (min-width: 992px) {
    .brand {
        margin-left: auto;
        margin-right: auto;
    }

    .brand-image {
        height: 100px;
        transition: height 200ms linear;
    }

    .brand-image.scrolled {
        height: 50px;
        transition: height 200ms linear;
    }
}


.navigation {
    background-color: unset;
    transition: background-color 200ms linear;
}

.navigation.scrolled {
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 80px;
    transition: background-color 200ms linear;
}

.nav-item {
    font-size: 1.4em;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 0.5em;
    }

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 2px solid #000000;
        border-right-color: rgba(255,255,255,.55) ;
    }
}


