#plx-prilep-plain {
    background: url(../images/plx/plx_home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
#plx-church {
    background: url(../images/plx/plx_church.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#plx-river {
    background: url(../images/plx/plx_river.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#plx-travel {
    background: url(../images/plx/plx_travel.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#plx-map {
    background: url(../images/plx/plx_map.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#plx-digital {
    background: url(../images/plx/plx_digital.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
#plx-outreach {
    background: url(../images/plx/plx_outreach.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
