body {
    background-color: #fffff7;
}
/* Jumbotron */

.jumbotron {
    color: white;
    background-image: url(../images/start.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: unset;
}

.jumbotron-images {
    border-radius: 20%;
}

/* Fade effect*/

.fade-in-images {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    /*    white-space: -webkit-pre-wrap;          !* Chrome & Safari *!
        white-space: -pre-wrap;                 !* Opera 4-6 *!*/
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
}

.top5 {
    margin-top: 5%;
}

.top7 {
    margin-top: 7%;
}

.top10 {
    margin-top: 10%;
}

.top15 {
    margin-top: 15%;
}

.top17 {
    margin-top: 17%;
}

.top30 {
    margin-top: 30%;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
    color: #fd7e14;
    text-align: center;
    background: #000
}

.image-description {
    font-size: 0.7em;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
