body {
    background-color: #fffff7;
    font-family: 'Merriweather', serif;
     color: #2c0f23;
}


.jumbotron {
    color: white;
    background-image: url(../images/start.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: unset;
}


/* Fade effect*/

.fade-in-images {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    color: #622449;
}

p {
    letter-spacing: 0.1em;
}


h1, h2, h3, h4, h5, h6 {
    color: #4f1b3c;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.top3 {
    margin-top: 3%;
}

.top5 {
    margin-top: 5%;
}

.top7 {
    margin-top: 7%;
}

.top10 {
    margin-top: 10%;
}

.top15 {
    margin-top: 15%;
}

.top17 {
    margin-top: 17%;
}

.top30 {
    margin-top: 30%;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
    color: #fd7e14;
    text-align: center;
    background: #000
}

.image-description {
    color: white;
    font-size: 0.7em;
    /* background-color: rgba(69, 73, 75, 0.73);*/
}

.project-background {
    background: rgb(241, 232, 205);
    background: linear-gradient(90deg, rgba(241, 232, 205, 0) 0%, rgba(241, 232, 205, 0.4) 11%, rgba(241, 232, 205, 0.8) 26%, rgba(241, 232, 205, 0.9) 37%, rgba(241, 232, 204, 1) 52%, rgba(239, 229, 200, 1) 90%, rgba(236, 225, 190, 0.5) 95%, rgba(236, 225, 190, 0) 100%);
}

video {
    /* override other styles to make responsive */
    width: 70% !important;
    height: auto !important;
}


.tab-content {
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 10px;*/
}

.nav-tabs {
    margin-bottom: 0;
}

.oa-access-tab-boxes {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}

a.oa-access-tab-boxes {
    color: white;
}

a.oa-access-tab-boxes:hover {
    color: white;
    background-color: rgba(67, 57, 28, 0.43);
}


.bg-violet {
    background-color: #4f1b3c;
}

.bg-violet-light {
    background-color: rgba(79, 27, 60, 0.25);
}

.btn-violet {
    color: #fff;
    background-color: #4f1b3c;
    border-color: #4f1b3c;
}

.btn-violet:hover {
    color: #fff;
    background-color: #3b1a2f;
    border-color: #34172a;
}

.btn-check:focus + .btn-violet, .btn-violet:focus {
    color: #fff;
    background-color: #3b1a2f;
    border-color: #34172a;
    box-shadow: 0 0 0 0.25rem rgba(59, 26, 47, 0.5);
}

.btn-check:checked + .btn-violet, .btn-check:active + .btn-violet, .btn-violet:active, .btn-violet.active, .show > .btn-violet.dropdown-toggle {
    color: #fff;
    background-color: #3b1a2f;
    border-color: #34172a;
}

.btn-check:checked + .btn-violet:focus, .btn-check:active + .btn-violet:focus, .btn-violet:active:focus, .btn-violet.active:focus, .show > .btn-violet.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(59, 26, 47, 0.5);
}

.btn-violet:disabled, .btn-violet.disabled {
    color: #fff;
    background-color: #4f1b3c;
    border-color: #4f1b3c;
}

.counter-font {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}

.counter-style {
    font-size: 20px;
    font-weight: 500;
}

.counter-block {
    height: 30vh;
}

.counter-wow {
    visibility: hidden;
}

.counter-btn {
    display: block;
    margin: 30px auto;
    font-size: 20px;
}

.counter-btn .counter-fas {
    font-size: 18px;
}


.quotes {
    background-color: rgba(79, 27, 60, 0.25);
    border-left: .35rem solid #4f1b3c;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
