{% extends "tib/layout.html" %}
{% block title %}AIEB{% endblock %}
{% block content %}
  <div class="container top7">
    <div class="text-center">
      {{ header('Commission for the', False) }}
      {{ header('Historical Geography and Spatial Analysis of
        Byzantium', True) }}
      <h4>at the <a href="https://aiebnet.gr/" target="_blank">
        Association Internationale des Etudes Byzantines (AIEB)</a>
      </h4>
    </div>
    <div class="row top3">
      <p>
        The proposal for the foundation of a "Commission for the Historical
        Geography and Spatial Analysis of Byzantium" was submitted officially
        with a letter to the Presidency of the AIEB on 16 December 2015 by the
        Austrian Society for Byzantine Studies through its President Prof. Dr.
        Claudia Rapp based on the initiative of Prof. Dr. Andreas Külzer and
        Doz. Dr. Mihailo Popović (both Project-Leaders of the Tabula Imperii
        Byzantini of the Austrian Academy of Sciences). As stated in the
        aforesaid letter, twelve international experts in the fields of the
        Historical Geography and Spatial Analysis of Byzantium were named as
        members for the formation of the respective Commission.
      </p>
      <p>
        At the session of the AIEB in Belgrade Mihailo Popović was nominated by
        the Austrian Society for Byzantine Studies to present the proposal to
        the present delegates. He outlined that the envisaged Commission will
        have the aim to observe the vibrant scholarly developments in the
        respective fields, to compare ongoing projects and to address related
        methodological questions. It will focus on the "classic" Historical
        Geography as well as on emerging tools coming from the field of
        GeoSciences. Therefore, Cartography will play an important role in its
        future discourse. Although related academic fields (e.g. Archaeology,
        Digital Humanities etc.) will be included in the discussions of the
        Commission, it has to be stressed that the Commission is eager to
        strengthen the overall picture of Historical Geography and to coordinate
        dispersed scholarly initiatives. Following a short discussion, in which
        the submitted list of members was augmented by the names of Leah di
        Segni (Israel), Joseph Patrich (Israel), Toni Filiposki ([FY]R
        Macedonia), Anastasia G. Yangaki (Greece) and Georgi Nikolov (Bulgaria),
        the aforesaid Commission was accepted unanimously by the present
        delegates.
      </p>
      <p>
        In accordance with its aims the chair of the “Commission for the
        Historical Geography and Spatial Analysis of Byzantium”, Mihailo
        Popović, is coordinating a new quarterly Newsletter starting with the
        year 2019. The Long-Term Project “Tabula Imperii Byzantini (TIB)” of the
        Austrian Academy of Sciences (Institute for Medieval Research, Division
        of Byzantine Research) will succeed the DPP Newsletter and launch its
        successor, namely a Newsletter called the “HistGeo-Newsletter”, with its
        first issue due in March 2019. This “HistGeo-Newsletter” will include
        news and reports from the fields of Mapping, Digital Mapping, Historical
        Atlases and of Historical Geography of the Byzantine Commonwealth.
        Contributors will be – apart from the TIB – especially members of the
        Commission for the Historical Geography and Spatial Analysis of
        Byzantium at the Association Internationale des Etudes Byzantines
        (AIEB). </p>
      <p>
        If you have registered for the DPP Newsletter, you will continue to
        receive the new HistGeo-Newsletter in 2019. Please feel free to consult
        also our DPP homepage in order to subscribe or unsubscribe to the DPP
        Newsletter and its successor, which is in accordance with the Privacy
        Policy of the Austrian Academy of Sciences.
      </p>
    </div>
    <div class="row top3">
      <h2 class="display-6 text-center">Mission Statement</h2>
      <p>
        The Commission for the Historical Geography and Spatial Analysis of
        Byzantium was founded by unanimous vote of the General Assembly of the
        AIEB in 2016 and has a long-standing tradition in the former
        Commission
        Internationale pour la Géographie historique du monde byzantin (under
        the Presidency of Hélène Ahrweiler, 1973-1992). Its aim is to monitor
        and coordinate scholarly initiatives within the field of Historical
        Geography in Byzantine Studies worldwide.
      </p>
      <p>
        In order to fulfil its tasks in the most efficient and appropriate way
        the Commission unites scholarly members from various countries and
        academic disciplines, who are doing research on the former “Byzantine
        Commonwealth”. The expertise of the Commission’s members covers
        amongst
        others Byzantine Studies, Historical Geography, Geography,
        Archaeology,
        Cartography and Geographical Information (GI)-Science. Its mission
        follows two main lines:
      </p>
      <div class="row text-center justify-content-center py-5 ">
        <div class="col-4 bg-violet-light py-3 px-3">
          <p class="fw-bold">The coverage, documentation and coordination of
            relevant scholarly
            initiatives / projects within Historical Geography.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4 bg-violet-light py-3 px-3">
          <p class="fw-bold">The fostering of respective digital innovation in
            a digital age.</p>
        </div>
      </div>
      <p>
        The role of coordination is achieved on the one hand through meetings,
        workshops and congresses, and on the other hand through information
        published in an external HistGeo-Newsletter. Thus, the Commission
        reaches out to other Commissions of the AIEB, to the colleagues
        working
        worldwide in the field of Byzantine Studies and to the interested
        public.
      </p>
      <p>
        The Commission for the Historical Geography and Spatial Analysis of
        Byzantium is strongly committed to innovation by strengthening and
        developing the field of Historical Geography through scholarly
        discussions and evaluation of conventional as well as digital methods.
      </p>
    </div>
    <h2 class="display-6 text-center top3">Members</h2>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8 text-center ">
          <table id="table_aieb" class="">
            <thead>
            <tr>
              <th>Name</th>
              <th>Country</th>
              <th>E-Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Bojanin, Stanoje</td>
              <td>Serbia</td>
              <td><a href=mailto:sbojanin@gmail.com>sbojanin@gmail.com</a>
              </td>
            </tr>
            <tr>
              <td>Di Segni, Leah</td>
              <td>Israel</td>
              <td>
                <a href=mailto:disegni@mail.huji.ac.il>disegni@mail.huji.ac.il</a>
              </td>
            </tr>
            <tr>
              <td>Filiposki, Toni</td>
              <td>North Macedonia</td>
              <td>
                <a href=mailto:tonfilip72@gmail.com>tonfilip72@gmail.com </a>
              </td>
            </tr>
            <tr>
              <td>Haldon, John</td>
              <td>USA</td>
              <td>
                <a href=mailto:jhaldon@Princeton.edu>jhaldon@Princeton.edu</a>
              </td>
            </tr>
            <tr>
              <td>Jacobs, Ine</td>
              <td>UK</td>
              <td><a href=mailto:ine.jacobs@classics.ox.ac.uk>ine.jacobs@classics.ox.ac.uk</a>
              </td>
            </tr>
            <tr>
              <td>Yangaki, Anastasia G.</td>
              <td>Greece</td>
              <td><a href=mailto:yangaki@eie.gr>yangaki@eie.gr</a></td>
            </tr>
            <tr>
              <td>Koder, Johannes</td>
              <td>Austria</td>
              <td><a href=mailto:johannes.koder@oeaw.ac.at>johannes.koder@oeaw.ac.at</a>
              </td>
            </tr>
            <tr>
              <td>Külzer, Andreas</td>
              <td>Austria</td>
              <td><a href=mailto:Andreas.Kuelzer@oeaw.ac.at>Andreas.Kuelzer@oeaw.ac.at</a>
              </td>
            </tr>
            <tr>
              <td>Lieu, Samuel</td>
              <td>Australia</td>
              <td>
                <a href=mailto:samuel.lieu@mq.edu.au>samuel.lieu@mq.edu.au</a>
              </td>
            </tr>
            <tr>
              <td>Marinov, Kiril</td>
              <td>Poland</td>
              <td><a href=mailto:cyrillus.m@wp.pl>cyrillus.m@wp.pl</a></td>
            </tr>
            <tr>
              <td>Nikolov, Georgi</td>
              <td>Bulgaria</td>
              <td><a href=mailto:gnikolov2@gmail.com>gnikolov2@gmail.com</a>
              </td>
            </tr>
            <tr>
              <td>Patrich, Joseph</td>
              <td>Israel</td>
              <td><a href=mailto:patrichj@mail.huji.ac.il>patrichj@mail.huji.ac.il</a>
              </td>
            </tr>
            <tr>
              <td>Popović, Mihailo (Chair)</td>
              <td>Austria</td>
              <td><a href=mailto:Mihailo.Popovic@oeaw.ac.at>Mihailo.Popovic@oeaw.ac.at</a>
              </td>
            </tr>
            <tr>
              <td>Saradi, Helen</td>
              <td>Greece</td>
              <td><a href=mailto:hsaradim@gmail.com>hsaradim@gmail.com</a>
              </td>
            </tr>
            <tr>
              <td>Sayar, Mustafa H.</td>
              <td>Turkey</td>
              <td><a href=mailto:mhsayar@gmail.com>mhsayar@gmail.com</a></td>
            </tr>
            <tr>
              <td>Talbert, Richard J. A.</td>
              <td>USA</td>
              <td>
                <a href=mailto:talbert@email.unc.edu>talbert@email.unc.edu</a>
              </td>
            </tr>
            <tr>
              <td>Veikou, Myrto</td>
              <td>Sweden</td>
              <td><a href=mailto:myrto.veikou@lingfil.uu.se>myrto.veikou@lingfil.uu.se</a>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row top3 justify-content-center">
        <h2 class="display-6 text-center">Documents of the Commission</h2>
        <div class="col-8 ">
          <table id="table_aieb_doc">
            <thead>
            <tr>
              <th>Date</th>
              <th>Titel</th>
              <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2018</td>
              <td>Complete Report AIEB 2016-2018</td>
              <td>
                <a href="{{ url_for('static', filename='repository/aieb_report_2016-2018.pdf') }}"
                   target="_blank">Paper</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



  <script>
      $(document).ready(function () {
          $('#table_aieb').dataTable({
              "paging": false,
              "ordering": false,
              "info": false,
              "searching": false
          });
      });
      $(document).ready(function () {
          $('#table_aieb_doc').dataTable({
              "paging": false,
              "ordering": false,
              "info": false,
              "searching": false
          });
      });
  </script>

{% endblock %}
