{% extends "balkan/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
  <div class="container top10">
    <div class="row ">
      <h1 class="display-1">{{_('Making past landscapes tangible')}} …</h1>
    </div>

    <div class="row top7">
      <div class="col-6 ">
        <div class="col align-self-center text-center">
          <video loop autoplay muted>
            <source src="{{ url_for('static', filename='/video/travel_to_bonce.mp4') }}"
                    type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <p class="small text-center">{{_('On the road with a Lada Niva on the old road between Podmol and Bonče, Republic of Northern Macedonia, 2016 (M. St. Popović, TIB 16).')}}</p>
        </div>
      </div>
      <div class="col-6 ">
        <p>
          {{ _('balkan_intro_1') }}
        </p>
      </div>
    </div>
    <div class="row top7">
      <div data-aos="zoom-out-down"
           data-aos-easing="linear"
           data-aos-duration="300">
        <h2 class=" text-center">
          <span class="bg-violet-light p-3 rounded-pill">
            {{_('Questions of historical geography')}}

          </span>
        </h2>
      </div>
      {% set questions = [
      _('What were landscapes like at that time?'),
      _('What were the settlements? What did they look like?'),
      _('Were they documented in written sources (e.g., charters)?'),
      _('What role did rivers, lakes and mountains play in the perception of space in the Middle Ages?'),
      _('Why were churches, monasteries and castles built in certain places?'),
      _('Where did roads lead to and what were they like?'),
      ] %}
      {% for question in questions %}
        <div data-aos="{{ loop.cycle('fade-right', 'fade-left') }}"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine"
             class="{{ loop.cycle('text-end', 'text-start') }} top5">
          <h4>{{ question }}</h4>
        </div>

      {% endfor %}
      <div class="row text-center top5">
        <h3>{{_('Our way of working')}}</h3>
        <p class="pt-3">
          {{_('We read the written sources of the period from the 4th to the 15th century, written in different languages (e.g. Greek, Latin, Old Slavonic, etc.), and filter out all the information related to the above questions.')}}
          </p>
        <p>
          {{_('We collect data on field names from the sources, modern maps and encyclopedias.')}}

        </p>
        <p>
          {{_('We get an overview of archaeological excavations and existing monuments (churches, monasteries, castles, etc.) on site.')}}
        </p>
        <p>
          {{_('And we travel to the respective areas to collect and document data in the field that we have previously read and summarized. To do this, we rely on the help of the local population. We talk to the people in their language - be it Greek, Serbian, Bulgarian, Macedonian, Turkish, etc. - and look back with them on their local past. Wonderful encounters take place across all borders. From all the data obtained, we write a volume of the Tabula Imperii Byzantini for each historical region of the Byzantine Empire and also record our findings in an enclosed printed map. In this way, landscapes long gone become comprehensible to everyone.')}}
          …
        </p>

        <p>
          {{_('If you would like to read about the TIB project, the TIB Balkans and future plans in the light of political, cultural and demographic developments in Europe, you can find out more in the following article')}}
           …
        </p>

      </div>
      <div class="row">
        {% for img in images %}
          <div class="col-3">
            {{ img_modal(img, loop.index) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

