 <div class="row text-center">
      <h1 class="display-4">Teilprojekte</h1>
      <p>Hier würde ich das vielleicht so machen, dass jedes Projekt eine ganze
        Zeile
        bekommt mit einer super kurzen Beschreibung. Als Effekt habe ich mir
        vorgestellt, dass sie von links bzw rechts reinfliegen. </p>
    </div>
    <div class="row pt-3">
      <div class="col-9 offset-1 text-center"
           style="background-color: #ece1be; height: 200px; ">
        Holdura
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-9 offset-2 text-center"
           style="background-color: #ece1be; height: 200px; ">
        MESMY
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-9 offset-1 text-center"
           style="background-color: #ece1be; height: 200px; ">
        Borderzones
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-9 offset-2 text-center"
           style="background-color: #ece1be; height: 200px; ">
        Montenegro
      </div>
    </div>
