<div class="container-fluid">
  <div class="row text-center">
    <h1 class="display-4">Teilprojekte der TIB Balkan</h1>
  </div>
  <div class="row justify-content-center text-center pt-3">
    <div class="col-8">
      <p>Die TIB Balkan gestaltet die Byzantinistik, Historische Geographie und
        Digitalen Geisteswissenschaften sowohl als Langzeitprojekt als auch
        durch ihre Teilprojekte europa- und weltweit aktiv mit. Mit Hilfe der
        Teilprojekte werden aktuelle Fragen formuliert und erforscht, neue
        Methoden erprobt und digitale Ressourcen aufgebaut, die einer breiten
        Öffentlichkeit zugänglich gemacht werden. Diese Teilprojekte werden vom
        Projektleiter TIB Balkan, Mihailo St. Popović, und seinem jungen
        Forscherteam kompetitiv als Drittmittelprojekte durch Anträge bei in-
        und ausländischen Forschungsförderungsgesellschaften eingeworben. Seit
        2006 hat M. Popović Fördermittel in der Höhe von 1.908.593 Euro
        erfolgreich beantragt und mit diesem Betrag zahlreiche vielversprechende
        WissenschaflterInnen in seinen Projekten angestellt, um gemeinsam
        zukunftsweisende Themen der Historischen Geographie der Balkanhalbinsel
        für die Österreichische Akademie der Wissenschaften zu erforschen.</p>
    </div>
  </div>
</div>


<div class="container">
  {% for project, detail in subprojects.items() %}
    <div class="row my-5 py-2 project-background {{ loop.cycle('flex-row', 'flex-row-reverse') }}"
         data-aos="{{ loop.cycle('fade-right', 'fade-left') }}">
      <div class="col-2">
        <a href="{{ url_for('subprojects', filename=project) }}">
          <img src="{{ url_for('static', filename=detail['icon']) }}"
               class="mx-auto d-block rounded-3"
                alt="{{ project }}">
        </a>
      </div>
      <div class="col-8 {{ loop.cycle('text-end', 'text-start') }}">
        <a href="{{ url_for('subprojects', filename=project) }}"
           class="text-decoration-none link-secondary">
          <h4 class="fst-italic display-6">{{ detail['question'] }}</h4>
          <h4>{{ detail['title'] }}</h4>
        </a>
      </div>

    </div>
  {% endfor %}
</div>


