<div class="container-fluid">
  <div class="row text-center">
    <h1 class="display-4">Bereisungen</h1>
  </div>
  <div class="row justify-content-center text-center pt-3">
    <div class="col-8">
      <p>Ein nicht wegzudenkender Bestandteil unserer Arbeit in der TIB Balkan
        sind Bereisungen in jene Gebiete der Balkanhalbinsel, über die wir
        forschen und schreiben. Unsere Vorbereitungen auf solche Bereisungen
        fußen auf dem Lesen von spätantiken und mittelalterlichen schriftlichen
        Quellen sowie der Sekundärliteratur, der Erfassung von mittelalterlichen
        Ortsnamen (Toponymen) und ihrem Abgleich mit Karten des 19. und 20.
        Jahrhunderts und der Identifizierung von relevanten Kulturdenkmälern vor
        Ort (Kirchen, Klöstern, Burgen, etc.). Daraus entstehen weiterführende
        Fragen, die nur bei der Bereisung im Arbeitsgebiet selbst, oft nur im
        Gespräch mit der lokalen Bevölkerung, beantwortet werden können. Wenn
        das Manuskript eines TIB Bandes einen gewissen Umfang erreicht hat und
        eine große Anzahl von Fragen von uns gesammelt wurde, planen wir die
        Route unserer Bereisung sehr genau und treten unsere Forschungsaufgabe
        als Zweierteam an. Vital ist dabei unsere Zusammenarbeit mit den
        zuständigen Behörden, Forschungseinrichtungen und FachkollegInnen vor
        Ort.</p>
    </div>
  </div>
  <div class="row justify-content-center text-center pt-3">
    <div class="ratio-16x9 img-fluid">
      <video loop autoplay muted class="img-fluid">
        <source src="{{ url_for('static', filename='/video/travel_to_bonce.mp4') }}"
                type="video/mp4">

        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div class="splide">
  <div class="splide__track">
		<div class="splide__list">
			<div class="splide__slide">Slide 01</div>
			<div class="splide__slide">Slide 02</div>
			<div class="splide__slide">Slide 03</div>
		</div>
  </div>
</div>

</div>
