@import '../globals';

.sidebar .searchbox {
  margin:0;
  padding:0;

  input {
    height:50px;
    color:$standard-type;
    font-family:Lato;
    font-size:16px;
    width:100%;
    border:none;
    outline:none;
    margin:0;
    padding:15px 10px;
    box-sizing:border-box;
    border-bottom:1px solid $lightgrey-border;
  }

  input::placeholder {
    color:$placeholder-type;
  }

  input:-ms-input-placeholder {
    color:$placeholder-type;
  }

  input::-ms-input-placeholder {
    color:$placeholder-type;
  }

}
