<div class="row align-self-center justify-content-center">
  <div class="col-md-12 ">
    <img src="{{ url_for('static', filename=member.image) }}"
         alt="{{ member.name | safe }}" width="200px"
         class="img-fluid mx-auto d-block rounded-circle">
  </div>
  <div class="col-md-12 text-center">
    <div class="pt-2">
      <h5 class="mt-4 font-weight-medium mb-0">{{ member.name | safe }}</h5>
      <h6 class="subtitle mb-3">{{ member.titles | safe }}</h6>
      <h6 class="subtitle mb-3">{{ member.function | safe }}</h6>
    </div>
  </div>
</div>

