{% extends "tib/layout.html" %}
{% block title %}Publications{% endblock %}
{% block content %}
  <div class="container top7">
    <div class="text-center">
      {{ header('Publications', True) }}
    </div>


    <ul class="nav justify-content-center mb-3 top3" id="tib-publications"
        role="tablist">
      {% for key in publications %}
        <li class="nav-item px-3" role="presentation">
          <button class="nav-link btn btn-violet-light {% if loop.first %}active{% endif %} px-5 py-1 rounded-pill"
                  id="{{ key }}-tab"
                  data-bs-toggle="pill" data-bs-target="#{{ key }}"
                  type="button"
                  role="tab" aria-controls="{{ key }}" aria-selected="true">
            <span class="lead">{{ key | replace('_', ' ') }}</span>
          </button>
        </li>
      {% endfor %}
    </ul>


    <div class="tab-content-borderless top3" id="pills-tabContent">
      {% for key, values in publications.items() %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
             id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}">
        <div class="text-center">
          {{ header(values.title) }}
          <p>{{ values.description | safe }}</p>
        </div>
         {{ create_table(values.data, key, 3) }}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}





