{% extends "tib/layout.html" %}
{% block title %}Publications{% endblock %}
{% block content %}
  <div class="container top5">
    <div class="text-center">
      {{ header('Publications', True) }}
    </div>
    <ul class="nav justify-content-center  mb-3 top3" id="tib-publications"
        role="tablist">
      {% for key in publications %}
        <li class="nav-item px-3" role="presentation">
          <button class="nav-link btn btn-violet-light {% if loop.first %}active{% endif %} px-5 py-1 rounded-pill"
                  id="{{ key }}-tab"
                  data-bs-toggle="pill" data-bs-target="#{{ key }}"
                  type="button"
                  role="tab" aria-controls="{{ key }}" aria-selected="true">
            <span class="lead">{{ key | replace('_', ' ')}}</span>
          </button>
        </li>
      {% endfor %}
    </ul>


    <div class="tab-content-borderless top3" id="pills-tabContent">
      {% for key, value in publications.items() %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
             id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}">
          <table id="table-{{ key }}"
                 class="row-border order-column stripe hover">
            <thead>
            <tr>
              {% for key in value[0] %}
                <th>{{ key | title }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in value %}
              <tr>
                {% for key, value in item.items() %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
      {% for key in publications %}
          $(document).ready(function () {
              $('#table-{{ key }}').dataTable({
                  "paging": true,
                  "autoWidth": false,
                  "columnDefs": [
                      {"width": "20%", "targets": 0},
                      {"width": "55%", "targets": 1},
                  ],
                  "ordering": true,
                  "order": [[3, {% if key == 'volumes'%}'asc'{% else %}'desc'{% endif %}]],
                  "info": true,
                  "searching": true,
                  "pageLength": 25
              });
          });

      {% endfor %}
  </script>
{% endblock %}





