<div class="container-fluid">
    <div class="text-center">
      {{ header_balkan(_('Cartography')) }}
    </div>
  <div class="row justify-content-center text-center pt-3">
    <div class="col-8">
      <p>
        {{ _('balkan_cartography_intro') }}
      </p>
    </div>
  </div>
  <div class="row justify-content-center text-center pt-3">
  <div class="col-4">
    {{ image_description(_('Processing schedule for the volumes of the TIB Balkan  (Johannes Koder, 1960s, TIB Archiv)')) }}
    <img src="{{ url_for('static', filename='images/balkan_cartographie.png') }}">
  </div>
  </div>
</div>
