{% extends "balkan/layout.html" %}
{% block title %}{{_('Tabula Imperii Byzantini Balkan')}}{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row vh-100 justify-content-center">
        {% for name, item in front_menu.items() %}
          <div class="col-lg-3 align-self-center text-center m-2 fade-in-images">
            <div class="text-center ">
              <a href="{{ url_for(name) }}" class="text-decoration-none">
                <h1><i class="bi {{ item.icon }}"></i></h1>
                <h2 class="">{{ item.title }}</h2>
              </a>
            </div>
          </div>

        {% endfor %}
      </div>
      {{ image_description(img_description['ohrid_see']) }}

    </div>
  </div>


  <div class="container-fluid top10">
    {% include 'balkan/home/tib_intro.html' %}
  </div>

  <div id="plx-prilep-plain">
    <div class="container-fluid">
      {{ image_description(img_description['prilep_plain']) }}
    </div>
  </div>


  <div class="container-fluid top5 min-vh-100">
    {% with tib_volumes=tib_volumes %}
     {% include 'balkan/tib_volumes/tib_volumes_intro.html' %}
    {% endwith %}
  </div>

  <div id="plx-church">
    <div class="container-fluid">
      {{ image_description(img_description['church']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
    {% with subprojects=subprojects %}
      {% include 'balkan/subprojects/subproject_intro.html' %}
    {% endwith %}
  </div>

  <div id="plx-river">
    <div class="container-fluid">
      {{ image_description(img_description['river']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
    {% with team=team %}
      {% include 'balkan/team/team_intro.html' %}
    {% endwith %}
  </div>

  <div id="plx-travel">
    <div class="container-fluid">
      {{ image_description(img_description['travel']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
    {% include 'balkan/home/travel.html' %}
  </div>

  <div id="plx-map" class="top5">
    <div class="container-fluid">
      {{ image_description(img_description['map']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
    {% include 'balkan/home/cartography.html' %}
  </div>

  <div id="plx-digital">
    <div class="container-fluid">
      {{ image_description(img_description['digital']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
  {% include 'balkan/digital/digital_intro.html' %}
  </div>

  <div id="plx-outreach">
    <div class="container-fluid">
      {{ image_description(img_description['outreach']) }}
    </div>
  </div>

  <div class="container-fluid top5 min-vh-100">
    {% with outreach=outreach %}
      {% include 'balkan/outreach/outreach_intro.html' %}
    {% endwith %}

  </div>

{% endblock content %}
