<div class="row ">
  <h1 class="display-1">Tabula Imperii Byzantini</h1>
  <h1 class="display-3 p-5">Vergangene Landschaften begreifbar machen …</h1>
</div>

<div class="row top5">
  <div class="col-4 offset-1">

  </div>
  <div class="col-6 ">
    <p>
      Im 21. Jahrhundert sind wir Zeugen eines rasanten technischen Fortschritts
      und
      einer
      dynamischen Veränderung unserer Lebenswelten. Die Rückbesinnung der
      Menschheit
      auf
      die Umwelt und das Bewusstsein der Menschen über globale klimatische
      Veränderungen
      regen die Frage an, wie unsere Vorfahren im Mittelalter gelebt haben und
      wie
      sie
      ihre Umwelt gestaltet und wahrgenommen haben.

    </p>
    <p>
      Wie waren damalige Landschaften beschaffen? Welche Siedlungen gab es? Wie
      sahen
      diese aus? Wurden sie in schriftlichen Quellen (z. B. Urkunden)
      dokumentiert,
      und
      wenn ja, auf welche Weise? Welche Rolle spielten Flüsse, Seen und Gebirge
      in
      der
      Raumwahrnehmung des Mittelalters? Warum wurden Kirchen, Klöster und Burgen
      an
      bestimmten Orten errichtet? Wohin führten Straßen und wie waren sie
      beschaffen?
      All
      dies sind Fragen, mit denen sich die historische Geographie befaßt.
      <a href="{{ url_for('balkan_long_term') }}">Weiterlesen...</a>
    </p>
  </div>
</div>
