<div class="container">
    <div class="text-center">
      {{ header_balkan(_('Surveys')) }}
    </div>
  <div class="row  text-center pt-3">
    <div class="col">
      <p>
        {{ _('balkan_travel_intro') }}
      </p>
    </div>
  </div>
  <div class="col align-self-center text-center">
    <video loop autoplay muted>
      <source src="{{ url_for('static', filename='/video/travel_to_bonce.mp4') }}"
              type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  </div>

</div>
