{% extends "tib/layout.html" %}
{% block title %}Imprint{% endblock %}
{% block content %}
  <div class="container top5">
    <div class="text-center">
      {{ header('Imprint', True) }}
    </div>

    <h4>Legal disclosure according to §§ 24, 25 Austrian media law and § 5
      E-Commerce law:</h4>
    <h5>Media owner, publisher, responsible for content and editorial office,
      service provider:</h5>
    <p><a href="http://www.oeaw.ac.at">Austrian Academy of Sciences</a><br>Corporate
      body organized under public law (BGBl 569/1921 idF BGBl I 130/2003)
  <br>Dr. Ignaz
      Seipel-Platz 2, 1010 Vienna, Austria<br>E-Mail:
      <a style="color: black;" href="mailto:Mihailo.Popovic@oeaw.ac.at">Mihailo.Popovic@oeaw.ac.at</a>
    </p>
    <h4>Nature and purpose of the business:</h4>
    <p>The Austrian Academy of Sciences (OEAW) has the legal duty to support
      the sciences and humanities in every respect. As a learned society, the
      OEAW fosters discourse and cooperation between science and society,
      politics and economy.<br>The Austrian Centre for Digital Humanities and
      Cultural Heritage (ACDH-CH) is an OEAW institute founded with the goal to
      support digital methods in arts and humanities disciplines. The ACDH-CH
      supports digital research in manifold ways.<br>The project is focusing on
      Austrian dialect cartography from 1924 to 1956.</p>
    <h4>Signing power:</h4>
    <p>President: o. Univ.-Prof. Dr. Anton Zeilinger<br>Vice President:
      Univ.-Prof. Dr. phil. Arnold Suppan<br>Class President: Univ.-Prof. Dr.
      phil. Oliver Jens Schmitt<br>Class President: Univ.-Prof. Dipl.-Ing.
      Dr.techn. Georg Brasseur<br>The Academy Council exists as supervisory
      body. For more information see <a
              href="https://www.oeaw.ac.at/en/oeaw/bodies/academy-council/"
              target="_blank" rel="noopener">https://www.oeaw.ac.at/en/oeaw/bodies/academy-council/</a>
    </p>
    <h4>Main aim:</h4>
    <p>This website serves to inform the public about the scientific activities of the Long-Term Project Tabula Imperii Byzantini</p>
    <h4>Disclaimer:</h4>
    <p>The Austrian Academy of Sciences does not take responsibility for the
      nature, accuracy, entirety or quality of the provided information.<br>In
      the case of links to websites of other media owners, whose content the
      OEAW is neither directly nor indirectly responsible for, the OEAW does
      not assume liability for their content and excludes any liability in this
      case.</p>
    <h4>Data privacy notice:</h4>
    <p>By using this website, you agree to the manner and purposes of data
      processing. You can disable cookies in your browser settings. However,
      this might limit functionality of this website.<br>Please find the ÖAW's
      detailed data privacy statement <a
              href="https://www.oeaw.ac.at/die-oeaw/datenschutz/">here</a>. The
      contact data published in the context of the imprint duty may not be used
      to send promotional or informational material not explicitly requested.
      We explicitly disagree with this usage.</p>
  </div>
{% endblock %}
