<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#73734a">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#fffff7">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/node_modules/baguettebox.js/dist/baguetteBox.css">
  <link rel="stylesheet" href="/static/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="/static/node_modules/aos/dist/aos.css">

  <script src="/static/node_modules/aos/dist/aos.js"></script>
  <script src="/static/node_modules/baguettebox.js/dist/baguetteBox.js"></script>
  <script src="/static/node_modules/muuri/dist/muuri.js"></script>
  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/node_modules/bootstrap-autocomplete/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="/static/node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/static/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-buttons-bs5/js/buttons.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-responsive-bs5/js/responsive.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-searchbuilder-bs5/js/searchBuilder.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.js"></script>
  <script src="/static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>

  {{ request.path|include_css|safe }}

  <!-- leaflet -->
  <link rel="stylesheet" href="/static/node_modules/leaflet-draw/dist/leaflet.draw.css"/>
  <script src="/static/node_modules/leaflet-draw/dist/leaflet.draw.js"></script>
  <script src="/static/node_modules/leaflet/dist/leaflet.js"></script>
  <script src="/static/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="/static/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
  <script src="/static/node_modules/leaflet.fullscreen/Control.FullScreen.js"></script>
  <script src="/static/node_modules/leaflet-imageoverlay-rotated/Leaflet.ImageOverlay.Rotated.js"></script>
  <script src="/static/node_modules/@mapbox/leaflet-pip/leaflet-pip.js"></script>


  <meta charset="UTF-8">
  <title>{% block title %}Tabula Imperii Byzantini{% endblock %}</title>

  <script type="text/javascript"
          src="{{ url_for('static', filename='js/counter.js') }}"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</head>
<body>
{% from 'macros.html' import image_description, box_description, read_more,
counting_icons, header, img_modal, outreach_modal, create_table, sub_header
with context %}

{% include 'tib/navigation.html' %}

<main role="main">
  {% block content %}{% endblock %}
</main>

{% include 'footer.html' %}

<script>
    AOS.init();
</script>

</body>

</html>
