<header>
  <nav class="navbar navbar-expand-lg navbar-violet fixed-top navigation-tib">
    <div class="container-fluid">
      <div class="text-center float-start col-2 brand">
        <a href="{{ url_for('tib_home') }}">
          <img class="brand-image-tib"
               src="{{ url_for('static', filename='images/logo/brand-small.png') }}"
               alt="TIB Logo">
        </a>
      </div>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end"
           id="navbarNav">
        <ul class="navbar-nav">
          {{ request.path | tib_nav() | safe }}
        </ul>
        <div class="btn-group" role="group">
        {% for language in AVAILABLE_LANGUAGES.items() %}
          {% if CURRENT_LANGUAGE == language[0] %}
              <button type="button" class="btn btn-violet bg-violet btn-sm">{{ language[1] }}</button>
          {% else %}
            <a href="{{ url_for('set_language', language=language[0]) }}" class="text-decoration-none btn btn-outline-violet btn-sm">
                {{ language[1] }}
            </a>
          {%  endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>


