{% extends "tib/layout.html" %}
{% block title %}Current Status{% endblock %}
{% block content %}
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  Tasdadsdadasdargs
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
  TETATAETEATAE <br />
{% endblock %}
