{% extends "balkan/layout.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}

  <div class="container">
    <div class="text-center top7">
      {{ sub_header_balkan(project.title) }}
    </div>
    <div class="row pt-5">
      <div class="col-8 row">
        <div>
          {{ project.description | safe }}
        </div>
      </div>
      {% with project=project %}
        {% include 'balkan/subprojects/sidebar.html' %}
      {% endwith %}
    </div>
    <div class="row pt-5">
      {% for img in images %}
        <div class="col-3">
          {{ img_modal(img, loop.index) }}
        </div>
      {% endfor %}
    </div>
    {% if results %}
      <h4 id="resultate" class="pt-5 text-center"><a href="#resultate" class="text-decoration-none">Resultate:</a></h4>
      {{ results | safe }}
    {% endif %}
    {% if result_links %}
      <div class="row align-content-center justify-content-center text-center pt-5">
        {% for link in result_links %}
          <div class="col-3 ">
            {% if link.link %}
              <a href="{{ link.link }}" class="text-decoration-none" target="_blank">
            {% endif %}
            {% if link.file %}
              <a href="{{ url_for('static', filename='repository/projects/' + link.file)}}" class="text-decoration-none">
            {% endif %}
              <i class="{{ link.icon }} display-4"></i>
              <p>{{ link.label }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if publications %}

      <h4 id="publikationen" class="pt-5 text-center"><a href="#publikationen" class="text-decoration-none">Publikationen:</a></h4>
      {{ create_table(publications, 'publications', 3) }}
    {% endif %}
    {% if presentations %}
      <h4 id="vorträge" class="pt-5 text-center"><a href="#vorträge" class="text-decoration-none">Vorträge:</a></h4>
      {{ create_table(presentations, 'presentations', 4) }}
    {% endif %}
  </div>



{% endblock %}
