{% extends "balkan/layout.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}

  <div class="container">
    <div class="text-center top7">
      {{ sub_header_balkan(project.title) }}
    </div>
    <div class="row pt-5">
      <div class="col-8 row">
        <div>
          {{ project.description | safe }}
        </div>
      </div>
      {% with project=project %}
        {% include 'balkan/subprojects/sidebar.html' %}
      {% endwith %}
    </div>
    <div class="row pt-5">
      {% for img in images %}
        <div class="col-3">
          {{ img_modal(img, loop.index) }}
        </div>
      {% endfor %}
    </div>
    {% if results %}
      <h4 class="pt-5 text-center">Resultate:</h4>
      {{ results | safe }}
    {% endif %}
    {% if publications %}
      <h4 class="pt-5 text-center">Publikationen:</h4>
      {{ create_table(publications, 'publications', 3) }}
    {% endif %}
    {% if presentations %}
      <h4 class="pt-5 text-center">Vorträge:</h4>
      {{ create_table(presentations, 'presentations', 3) }}
    {% endif %}
  </div>



{% endblock %}
