{% extends "balkan/layout.html" %}
{% block title %}{{_('Long-term project')}}{% endblock %}
{% block content %}
  <div class="container top7 text-center">
    <div class="text-center">
      {{ header_balkan(_('Long-term project')) }}
      {{ header_balkan(_('Tabula Imperii Byzantini - Balkans')) }}
    </div>
    <p class="top5">
      {{_('The historical-geographical project Tabula Imperii Byzantini (TIB) was initiated by the founder of Austrian Byzantine Studies and academician <a href="https://www.geschichtewiki.wien.gv.at/Herbert_Hunger"> Prof. Dr. Herbert Hunger (1914-2000)</a> in 1966 as a commission of the Austrian Academy of Sciences (ÖAW). His vision of historical-geographical research within the framework of Byzantine studies at the ÖAW and the creation of an atlas of the Byzantine Empire accompany us until now.')}}
      </p>
    <p>
      {{_('At the 13th International Congress of Byzantine Studies in Oxford in 1966, Herbert Hunger set the following as the goal of the TIB project.')}}:

    </p>
    <div class="row d-flex justify-content-center align-items-center">
      <figure class="bg-violet p-3 quotes row">
        <div class="col-8 text-start">
          <i class="bi bi-quote"
             style="color: #4f1b3c; font-size: 2rem;"></i>
          <blockquote class="blockquote pb-2">
            <p class="text-end">
              In Analogie zu der von der Union Académique Internationale
              herausgegebenen Tabula Imperii Romani bereitet das Institut die
              Publikation eines Atlas des byzantinischen Reiches vor, der in
              rund 35 Kartenblättern (1:1,000,000) und ebenso vielen
              zugehörigen Faszikeln alle Städte und grösseren Orte des
              Ostimperiums enthalten soll. Einige Spezialkarten in grösserem
              Massstab werden für besondere Gebiete notwendig sein.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-end">
            Professor Dr Herbert Hunger in <cite title="Source Title">Das
            Institut für Byzantinistik der Universität Wien, p. 481</cite>
          </figcaption>
        </div>
        <div class="col-4 align-items-center ml-auto d-flex">
          <img src="{{ url_for('static', filename='images/history/hunger.jpg') }}"
               class="img-fluid img-thumbnail d-flex" alt="Herbert Hunger">
        </div>
      </figure>
    </div>
    <p>
      {{_('Within the framework of the TIB, the historical geography of the Byzantine Empire, which lasted from the beginning of the 4th century AD to the middle of the 15th century - i.e. from Late Antiquity to the Ottoman conquest, is systematically researched in order to create an atlas of this empire. The main part of each volume of the TIB includes a catalog of Byzantine toponyms (i.e., the names of cities, settlements, fortresses, churches, monasteries, fields, mountains, rivers, and lakes) in alphabetical order, obtained for each region/province of the Byzantine Empire from four categories of sources. These categories are the written sources from the above mentioned period (e.g. the historiography, documents, etc.), archaeological findings (monuments and their remains), the historical and present toponyms and the natural features of landscapes.')}}
     </p>
    <p>
      {{_('Despite some organizational changes in recent decades, we remain committed to Herbert Hunger\'s scientific legacy and true to his vision. Since 2016, the TIB has been a long-term project of the ÖAW and was also accepted as project number 87 at the <a href="http://www.unionacademique.org/en/projects/104/tabula-imperii-byzantini">Union Académique Internationale</a> in Brussels in 2015.')}}
     </p>
    <p>
      {{_('According to the long-term project plan, TIB consists of two project areas: TIB Asia Minor and TIB Balkans. Since January 1, 2016, Mihailo St. Popović has been the project manager of TIB Balkans and, together with his team, would like to introduce you to the tasks, goals, processes, results and visions of this area on this homepage.')}}
      </p>
    <div class="row justify-content-center">
      {% for img in images %}
        <div class="col-4">
          {{ img_modal(img, loop.index) }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

