{% extends "balkan/layout.html" %}
{% block title %}{% endblock %}
{% block content %}
  <div class="container top7 text-center">
    <div class="text-center">
      {{ header('Langzeitprojekt', False) }}
      {{ header('Tabula Imperii Byzantini - Balkan', True) }}
    </div>
    <p class="top5">
      Das historisch-geographische Projekt Tabula Imperii Byzantini (TIB) wurde
      auf Initiative des Begründers der österreichischen Byzantinistik und
      Akademiemitglieds <a
            href="https://www.geschichtewiki.wien.gv.at/Herbert_Hunger">
      Prof. Dr. Herbert Hunger (1914-2000)</a>
      im Jahre 1966 als Kommission der Österreichischen Akademie der
      Wissenschaften (ÖAW) ins Leben gerufen. Seine Vision der
      historisch-geographischen Forschung im Rahmen der Byzantinistik an der
      ÖAW und der Erstellung eines Atlas des Byzantinischen Reiches begleiten
      uns bis jetzt.
    </p>
    <p>
      Als Ziel des Projektes TIB hat Herbert Hunger auf dem 13. Internationalen
      Kongreß für Byzantinistik in Oxford im Jahre 1966 folgendes vorgegeben:
    </p>
    <div class="row d-flex justify-content-center align-items-center">
      <figure class="bg-violet p-3 quotes row">
        <div class="col-8 text-start">
          <i class="bi bi-quote"
             style="color: #4f1b3c; font-size: 2rem;"></i>
          <blockquote class="blockquote pb-2">
            <p class="text-end">
              In Analogie zu der von der Union Académique Internationale
              herausgegebenen Tabula Imperii Romani bereitet das Institut die
              Publikation eines Atlas des byzantinischen Reiches vor, der in
              rund 35 Kartenblättern (1:1,000,000) und ebenso vielen
              zugehörigen Faszikeln alle Städte und grösseren Orte des
              Ostimperiums enthalten soll. Einige Spezialkarten in grösserem
              Massstab werden für besondere Gebiete notwendig sein.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-end">
            Professor Dr Herbert Hunger in <cite title="Source Title">Das
            Institut für Byzantinistik der Universität Wien, p. 481</cite>
          </figcaption>
        </div>
        <div class="col-4 align-items-center ml-auto d-flex">
          <img src="{{ url_for('static', filename='images/history/hunger.jpg') }}"
               class="img-fluid img-thumbnail d-flex" alt="Herbert Hunger">
        </div>
      </figure>

    </div>
    <p>
      Im Rahmen der TIB wird die historische Geographie des Byzantinischen
      Reiches systematisch erforscht, das vom Beginn des 4. Jahrhunderts n.
      Chr. bis zur Mitte des 15. Jahrhunderts Bestand hatte – d. h. von der
      Spätantike bis zur osmanischen Eroberung, um einen Atlas dieses Reiches
      zu erstellen. Der Hauptteil jeden Bandes der TIB umfasst einen Katalog
      der
      byzantinischen Toponyme (d. h. der Namen von Städten, Siedlungen,
      Festungen, Kirchen, Klöstern, Feldern, Gebirgen, Flüssen und Seen) in
      alphabetischer Reihenfolge, die für jede Region / Provinz des
      Byzantinischen Reiches aus vier Kategorien von Quellen gewonnen werden.
      Diese Kategorien sind die schriftlichen Quellen aus dem obenerwähnten
      Zeitraum (z. B. die Geschichtsschreibung, Urkunden, usw.), archäologische
      Erkenntnisse (Denkmäler und deren Überreste), die historischen und
      jetzigen Toponyme und die naturräumlichen Gegebenheiten von Landschaften.
    </p>

    <p>
      Trotz einiger organisatorischer Veränderungen in den letzten Jahrzehnten
      bleiben wir dem wissenschaftlichen Erbe Herbert Hungers verpflichtet und
      seiner Vision treu. Seit 2016 ist die TIB ein Langzeitprojekt der ÖAW und
      wurde zudem 2015 als Projekt mit der Nummer 87 bei der
      <a href="http://www.unionacademique.org/en/projects/104/tabula-imperii-byzantini">Union
        Académique
        Internationale</a> in Brüssel aufgenommen.
    </p>
    <p>
      Laut Langzeitprojektplan besteht die TIB aus zwei Projektbereichen: TIB
      Kleinasien und TIB Balkan. Seit 1. Jänner 2016 ist Mihailo St. Popović
      Projektleiter der TIB Balkan und möchte Ihnen gemeinsam mit seinem Team
      auf dieser Homepage die Aufgaben, Ziele, Abläufe, Resultate und Visionen
      dieses Bereiches näherbringen.
    </p>
    <div class="row justify-content-center">
      {% for img in images %}
        <div class="col-4">
          {{ img_modal(img, loop.index) }}
        </div>
      {% endfor %}
    </div>
  </div>



{% endblock %}

