// Standard font color
$standard-type:#4c4c4c;

// Lightgrey for input placeholder
$placeholder-type:#9f9f9f;

// Signature color
$oeaw-blue:#2856a3;
$oeaw-blue-hover:#3462af;

// Slightly blue-ish white for white hover effect
$blueish-white:#f5f7f7;
$blueish-white-hi:#f5f7f7;

// Standard border color
$lightgrey-border:#e5e5e5;
