@font-face {
  font-family:'FontAwesome';
  src:url('/public/fonts/fa-solid-900.ttf');
}

@font-face {
  font-family:'Lato';
  src:url('/public/fonts/Lato-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'Lato';
  src:url('/public/fonts/Lato-Bold.ttf');
  font-weight:bold;
  font-style:normal;
}
