{% extends "tib/layout.html" %}
{% block title %}Tabula Imperii Byzantini{% endblock %}
{% block content %}


  {% with jumbotron=jumbotron %}
    {% include 'tib/frontpage/jumbotron.html' %}
  {% endwith %}
  <h1 class="display-4 text-center top3">Long-Term Project</h1>
  <h1 class="display-3 text-center fw-bold">Tabula Imperii Byzantini</h1>
  <div class="container top3 text-center fs-6">
  <p>
    Research on the Historical Geography of the Byzantine Empire at the
    Austrian Academy of Sciences in Vienna is conducted by the Tabula Imperii
    Byzantini (TIB). This renowned project was accepted by the
    <a href="http://www.uai-iua.org/en/projects/104/tabula-imperii-byzantini"
       target="_blank">Union Académique Internationale</a> in Brussels
    in 2015 (Project 87), and at the same time included into the scheme of
    <a href="http://www.oeaw.ac.at/intern/oeaweb/institute-und-infrastruktur/
      support-wissenschaft-forschung/langzeitforschungsprogramm/"
       target="_blank">Long-Term-Projects</a> at the Austrian Academy of
    Sciences, based on independent excellent international evaluations. The
    TIB carries out systematic research in the historical geography of the
    Byzantine Empire, from the beginning of the 4th century to the mid-15th
    century. The aim of the project is to create a historical atlas of the
    Byzantine space from Late Antiquity to the Early Modern period.
  </p>
  <div class="container top3">
    <div class="row justify-content-center" id="counter_frontpage">
      {% for key, value in counter.items() %}
        {{ counting_icons(key, value) }}
      {% endfor %}
    </div>
  </div>

  <div class="container top3">
    <div class="row justify-content-center">
      <div class="col-6">
        {{ img_modal({'path': 'images/frontmap.png', 'description': ''}, 1) }}
      </div>
      <div class="col-6">
        <p class="text-start">
        Individual regions are represented on maps on a scale of 1 : 800,000. A
        separate accompanying volume provides the results of further research
        in
        each region. Each volume contains detailed introductory chapters on
        geography and climate, borders and territorial designations, history,
        administrative history, church history and monasticism, traffic routes,
        economy and demographic trends. The main part of each volume
        consists of an alphabetical catalogue of all toponyms, hydronyms etc.
        that were known in Byzantine times. Also included are the
        historical places, whose historical names are unknown, but for whose
        existence there is (or there was) archaeological evidence. Written
        sources (from Late Antiquity to Early Modern Times) and archaeological
        materials elucidate the history of individual places, along with brief
        descriptions of monuments, both those that are known to have existed
        and
        those that are still preserved. The aforesaid results are enriched by
        systematic field research in order to verify, modify or complete the
        information of the sources.
        </p>
      </div>

    </div>
    <p>
      Since 1986 new methods have been included into the scholarly work
      of the TIB, namely: studies of Palaeo-climate and settlement
      theories (for example the modified "Central Place Theory"),
      as well as the regular use of the Global Positioning System (GPS)
      during field missions and surveys. Digital Humanities, e.g.
      in the form of Historical Geographical Information Systems (HGIS),
      further contribute to the analysis and interpretation of the
      research data.
    </p>
  </div>

  <div class="container top5">
    {% include 'tib/frontpage/tib_map.html' %}
  </div>

  <div class="row justify-content-start top5 text-start">
    <h1 class="text-center">Activities</h1>
    <div class="row pt-5">
      {% for item in outreach %}
        <div class="col-3">
          {{ outreach_modal(item, item.id) }}
        </div>
      {% endfor %}
    </div>
  </div>


  <script>
      var notInited = true

      function init() {
          // init your chart
          // code here run once on element with id="el" will in viewport
      }

      window.onscroll = function () {
          if (notInited) {
              $('.tib_volumen').counter();
              $('.tib_making').counter();
              $('.article').counter();
              $('.presentations').counter();
              $('.books').counter();
              $('.pictures').counter();
              $('.travels').counter();
          }
          const counter = document.querySelector('[id="counter_frontpage"]')
          if (counter.offsetTop >= window.innerHeight + document.body.scrollTop && notInited) {
              notInited = false
              init()
          }
      };

      $(document).ready(function () {

          $('#newsTicker').breakingNews({
              effect: 'slide-down',
              themeColor: '#2eb872',
              height: 50,
              fontSize: '18px'
          });

      });
  </script>
{% endblock %}
