{% extends "tib/layout.html" %}
{% block title %}{{ _('TIB')}}{% endblock %}
{% block content %}
  {% with jumbotron=jumbotron %}
    {% include 'tib/frontpage/jumbotron.html' %}
  {% endwith %}

  <h1 class="display-4 text-center top3">{{ _('Long-Term Project')}}</h1>
  <h1 class="display-3 text-center fw-bold">{{ _('TIB')}}</h1>
  <div class="container top3 text-center fs-6">
    <p>
      {{  _('tib_frontpage_research_on_the_historical') }}
    </p>
    <div class="container top3">
      <div class="row justify-content-center" id="counter_frontpage">
        {% for key, value in counter.items() %}
          {{ counting_icons(key, value) }}
        {% endfor %}
      </div>
    </div>

    <div class="container top3">
      <div class="row justify-content-center">
        <div class="col-6">
          {{ img_modal({'path': 'images/frontmap.png', 'description': ''}, 1) }}
        </div>
        <div class="col-6">
          <p class="text-start">
            {{  _('tib_frontpage_individual_regions') }}
          </p>
        </div>

      </div>
      <p>
           {{  _('tib_frontpage_since_1986_new_methods') }}
      </p>
    </div>

    <div class="container top5">
      {% include 'tib/frontpage/tib_map.html' %}
    </div>

    <div class="row justify-content-start top5 text-start">
      <h1 class="text-center">{{ _('activities') }}</h1>
      <div class="row pt-5">
        {% for item in outreach %}
          <div class="col-3 text-center">
            {{ outreach_modal(item, item.id, outreach_icons[item.id]) }}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
  <script>
      let notInited = true
      function init() {
          // init your chart
          // code here run once on element with id="el" will in viewport
      }
      window.onscroll = function () {
          if (notInited) {
              $('.tib_volumen').counter();
              $('.tib_making').counter();
              $('.article').counter();
              $('.presentations').counter();
              $('.books').counter();
              $('.pictures').counter();
              $('.travels').counter();
          }
          const counter = document.querySelector('[id="counter_frontpage"]')
          if (counter.offsetTop >= window.innerHeight + document.body.scrollTop && notInited) {
              notInited = false
              init()
          }
      };

      $(document).ready(function () {

          $('#newsTicker').breakingNews({
              effect: 'slide-down',
              themeColor: '#2eb872',
              height: 50,
              fontSize: '18px'
          });

      });
  </script>
{% endblock %}
