{% extends "tib/layout.html" %}
{% block title %}Tabula Imperii Byzantini{% endblock %}
{% block content %}

  <script>
      var inited = false

      function init() {
          // init your chart
          // code here run once on element with id="el" will in viewport
      }

      window.onscroll = function () {
          if (inited) {
              $('.tib_volumen').counter();
              $('.tib_making').counter();
              $('.article').counter();
              $('.presentations').counter();
              $('.books').counter();
              $('.pictures').counter();
              $('.travels').counter();
          }
          const counter = document.querySelector('[id="counter_frontpage"]')
          if (counter.offsetTop >= window.innerHeight + document.body.scrollTop) {
              inited = true
              init()
          }
      };
  </script>
  {% with jumbotron=jumbotron %}
    {% include 'tib/frontpage/jumbotron.html' %}
  {% endwith %}
  <h1 class="display-3 text-center top3">Long-Term Project</h1>
  <h1 class="display-2 text-center fw-bold">Tabula Imperii Byzantini</h1>
  <div class="container top3 text-center">
    <p>
      Research on the Historical Geography of the Byzantine Empire at the
      Austrian Academy of Sciences in Vienna is conducted by the Tabula Imperii
      Byzantini (TIB). This renowned project was
      accepted by the
      <a
              href="http://www.uai-iua.org/en/projects/104/tabula-imperii-byzantini"
              target="_blank">Union Académique
        Internationale </a>in Brussels in 2015 (Project 87), and at the same
      time included into
      the scheme of <a
            href="http://www.oeaw.ac.at/intern/oeaweb/institute-und-infrastruktur/support-wissenschaft-forschung/langzeitforschungsprogramm/"
            target="_blank">Long-Term-Projects</a> at the Austrian Academy of
      Sciences, based on
      independent
      excellent international evaluations. The TIB carries out systematic
      research in the
      historical geography of the
      Byzantine Empire, from the beginning of the 4th century to the mid-15th
      century. The aim of
      the project is to
      create a historical atlas of the Byzantine space from Late Antiquity to
      the Early Modern
      period.

    </p>
    {{ read_more('introCollapse') }}
    <div class="collapse container-fluid" id="introCollapse">
      <p>
        Individual regions are represented on maps on a scale of 1 :
        800,000. A
        separate
        accompanying volume provides
        the results of further research in each region. Each volume contains
        detailed introductory
        chapters on geography
        and climate, borders and territorial designations, history,
        administrative
        history, church
        history and
        monasticism, traffic routes, economy and demographic trends. The
        main
        part
        of each volume
        consists of an
        alphabetical catalogue of all toponyms, hydronyms etc. that were
        known
        in
        Byzantine times.
        Also included are the
        historical places, whose historical names are unknown, but for whose
        existence there is (or
        there was)
        archaeological evidence. Written sources (from Late Antiquity to
        Early
        Modern Times) and
        archaeological
        materials elucidate the history of individual places, along with
        brief
        descriptions of
        monuments, both those
        that are known to have existed and those that are still preserved.
        The
        aforesaid results are
        enriched by
        systematic field research in order to verify, modify or complete the
        information of the
        sources.
      </p>

      <img src="{{ url_for('static', filename='images/frontmap.png') }}"
           class="col-5 mx-auto d-block img-fluid img-thumbnail">

      <p class="pt-2">
        Since 1986 new methods have been included into the scholarly work of the
        TIB, namely:
        studies of Palaeo-climate
        and settlement theories (for example the modified "Central Place
        Theory"),
        as well as the
        regular use of the
        Global Positioning System (GPS) during field missions and surveys.
        Digital
        Humanities, e.g.
        in the form of
        Historical Geographical Information Systems (HGIS), further contribute
        to
        the analysis and
        interpretation of the
        research data.
      </p>
    </div>

  </div>

  <div class="container top3">
    <div class="row justify-content-center" id="counter_frontpage">
      {% for key, value in counter.items() %}
        <div class='col-3 top3 text-center align-content-center font-violet'>
          <i class="bi {{ value['icon'] }}" style="font-size: 1.5rem;"></i>
          <br>
          <span class="{{ key }} counter-style"
                data-from="0" data-to="{{ value['count'] }}"
                data-time="3000">

          </span>
          <br>
          <span class="counter-font">{{ value['description'] }}</span>

        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container top5">

    <div class="row">
      <div class="col-6 text-end">
        <h1 class="display-4 ">TIB</h1>
        <h1 class="display-4 ">Map Application</h1>
        <p>
          Our TIB map viewer is online!
          Please feel free to
          <a href="https://data1.geo.univie.ac.at/projects/tibapp/">browse
          and test it</a>. It features selected data from the
          TIB Balkans deriving from its
          <a href="{{ url_for('tib_sub_projects') }}">sub-projects</a>
          and is work in progress. If you have any questions or comments,
          please feel free to contact:
          <a href="mailto:Mihailo.Popovic@oeaw.ac.at">
            Mihailo.Popovic@oeaw.ac.at
          </a>
        </p>
      </div>
      <div class="col-6">
        <a href="https://data1.geo.univie.ac.at/projects/tibapp/">
          <img src="{{ url_for('static', filename='images/mapviewer.gif') }}"
               alt="TIB Map Viewer">
        </a>
      </div>
    </div>

  </div>

{% endblock %}
