
    <div class="row">
      <div class="col-6 text-end">
        <h1>TIB</h1>
        <h1>{{ _('map_application') }}</h1>
        <p class="lead">
          {{ _('map_application_text') }}
        </p>
<!--        <p class="text-end fw-bolder">-->
<!--          <a class="btn btn-violet bg-violet btn-lg"-->
<!--             href="{{ url_for('tib_atlas') }}">-->
<!--            {{ _('try it out now') }}!-->
<!--          </a>-->
<!--        </p>-->

      </div>
      <div class="col-6">
        <a href="{{ url_for('tib_atlas') }}">
          <img src="{{ url_for('static', filename='images/mapviewer.gif') }}"
               alt="TIB Map Viewer">
        </a>
      </div>
    </div>
