{% extends "balkan/layout.html" %}
{% block title %}{{_('3dobjects')}}{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center top7">
        {{ header_balkan(_('3dobjects')) }}
    </div>
    {% for project in objects3d.values() %}
    <p class="text-center">
        {{ project['description'] }}
    </p>
    <div class="row justify-content-md-center">
        {% for object, values in project['models'].items() %}
        <div class="col-md-8 col-xl-6 col-xxl-4 px-5 py-5"
             data-aos="zoom-in-up">
            <h4 class="text-center">{{ values.title }}</h4>
            <a href="{{ url_for('static', filename=values['path']) }}">
                <img src="{{ url_for('static', filename=values['icon']) }}"
                     class="img-fluid top5" alt="{{ object }}Icon">
            </a>
            <figcaption class="figure-caption">
                {{ values['icon_description'] }}
            </figcaption>
        </div>
        {% endfor %}
    </div>
    {% endfor %}


</div>
{% endblock %}
