<div class="container">
  <div class="text-center top7">
    {{ header_balkan('Tabula Imperii Byzantini Balkans') }}
    {{ header_balkan(_('in the digital era')) }}
  </div>
  <div class="row justify-content-center text-center pt-3">
    <p>
        {{ _('balkan_digital_intro') }}
    </p>

  </div>
  <div class="row justify-content-center text-center top5">
    <div class="col-3">
      <a href="{{ url_for("balkan_digital", category='3dobjects') }}"
         class="text-decoration-none">
        <i class="bi bi-badge-3d-fill" style="font-size: 5rem"></i><br>
        <h3>{{ _('View 3D Objects') }}</h3>
      </a>
    </div>
    <div class="col-3">
      <a href="{{ url_for("balkan_digital", category='explore') }}"
         class="text-decoration-none">
        <i class="bi bi-search" style="font-size: 5rem"></i><br>
        <h3>{{ _('Browse project database') }}</h3>
      </a>
    </div>
  </div>
</div>
