{% extends "balkan/layout.html" %}
{% block title %}Digitales{% endblock %}
{% block content %}
  <div class="container">
    <div class="text-center top7">
      {{ header('Tabula Imperii Byzantini Balkan', False) }}
      {{ header('in der Digitalen Ära', True) }}
    </div>
  <div class="text-center bg-violet-light p-2">
      {% include 'balkan/digital/digital_entry_text.html' %}
  </div>




      <section id="section_3dobjects">
        <div class="col-md-12 top5">
          {% with objects3d=objects3d %}
            {% include "balkan/digital/3dobjects.html" %}
          {% endwith %}
        </div>
      </section>

      <section id="section_discover">
        <div class="col-md-12 top5">
          {% with subprojects_dict=subprojects_dict, view_classes=view_classes%}
            {% include "balkan/digital/discover.html" %}
          {% endwith %}
        </div>
      </section>
    </div>
  </section>


{% endblock %}
