{% extends "balkan/layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}

    <div class="container top7">
        <h1 class="display-2 text-center">Subprojects of the TIB</h1>
        <div class="row pt-5">
            {% for project in projects %}
                <div class="col-4">
                    <a href="{{ url_for('subprojects', project=project['project'][0]) }}">
                        <img src="{{ project['profile_image'] | safe }}"
                             alt="">
                        <h5>{{ project['name'] }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}




