{% extends "tib/layout.html" %}
{% block title %}Subprojects{% endblock %}
{% block content %}

  <div class="text-center top5">
    {{ header('Subprojects of the', False) }}
    {{ header('Tabula Imperii Byzntini', True) }}
  </div>
  <div class="container">
    <div class="row justify-content-md-center top3">
      {% for key, value in projects.items() %}
        <div class="col-md-12 col-xl-4 col-xxl-4 nopadding">
          <div class="hover_effect">
            <img src="{{ url_for('static', filename=value['icon']) }}"
                 class="img-fluid" alt="{{ key }}Icon">
            <div class="overlay">
              <a href="{{ url_for('tib_sub_projects', project=key) }}">
                <h1 class="text-white">{{ (key.replace('_', ' ')) }}</h1>
                <p>{{ value['title'] }}</p>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
