<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="/static/node_modules/aos/dist/aos.css">
  <link rel="stylesheet" href="/static/node_modules/@fancyapps/ui/dist/fancybox/fancybox.css">


  <script src="/static/node_modules/@fancyapps/ui/dist/fancybox/fancybox.umd.js"></script>
  <script src="/static/node_modules/aos/dist/aos.js"></script>
  <script src="/static/node_modules/muuri/dist/muuri.js"></script>
  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/node_modules/bootstrap-autocomplete/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="/static/node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/static/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-buttons-bs5/js/buttons.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-responsive-bs5/js/responsive.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-searchbuilder-bs5/js/searchBuilder.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.js"></script>
  <script src="/static/node_modules/datatables.net-plugins/dataRender/ellipsis.js"></script>
  <script src="/static/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  {{ request.path|include_css|safe }}
  <meta charset="UTF-8">
  <title>{% block title %}Tabula Imperii Byzantini - Balkans{% endblock %}</title>

  <script type="text/javascript"
          src="{{ url_for('static', filename='js/counter.js') }}"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</head>
<body>
{% from 'macros.html' import image_description, box_description, read_more,
 counting_icons, header, img_modal, outreach_modal, create_table,
 header_balkan, sub_header_balkan, sub_header, type_popover with context %}

{% include 'balkan/navigation.html' %}

<main>
  {% block content %}{% endblock %}
</main>

{% include 'footer.html' %}
<script>
    AOS.init();
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl, {html: true})
    })
</script>

</body>

</html>
