<nav role="navigation" class="navigation fixed-top ">
  <div class="text-center float-end m-3 col-2 brand">
    <a href="{{ url_for('home') }}">
      <img class="brand-image"
           src="{{ url_for('static', filename='images/logo/brand-small.png') }}"
           alt="Logo">
    </a>
  </div>
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <div class="vh-100 min-vw-100" id="menu">
      <div class="row justify-content-center">
        {{ request.path |balkan_nav()|safe }}
      </div>
    </div>
  </div>
</nav>
